.password__changing-title{
    margin-top: 205px;
    text-align: center;
    font-size: 34px;
}
.password__changing-flex{
    .curtain__input{
        width: 250px;
        height: 28px;
        font-weight: 700;
    }
    display: flex;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 20%;
    gap: 14px;
}