.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

:root {
  --main-red-col: #ff0000;
}
* {
  font-family: "Inter", sans-serif;
}

header {
  transition: all 0.6s ease;
  background-color: #000000;
}
.header__flex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 2rem;
  background-color: black;
  height: 90px;
}

.header__left {
  flex: 0.5;
}

.header__center {
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.nav__links.mobile{
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.header__link {
  margin-right: 59px;
}

.header__link:last-child {
  margin-right: 0;
}

.nav__extra-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transition: max-width 0.5s ease, opacity 0.3s ease;
  white-space: nowrap;
}


.nav__extra-container.visible {
  max-width: 600px; /* настроить под ширину ссылок + стрелка */
  opacity: 1;
}

/* Сами ссылки */
.nav__extra-wrapper {
  display: flex;
  align-items: center;
}

/* Стрелка */
.arrow-icon {
  width: 7px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.arrow-icon.rotated {
  transform: rotate(180deg);
}

.header__right {
  display: flex;
}

.logo {
  img {
    width: 170px;
    height: 25px;
  }
  color: white;
}

.logo span {
  color: var(--main-red-col);
}

.mini__logo {
  width: 30px;
  height: 30px;
  margin-top: 2%;
}

.header__link {
  transition: all 0.3s ease;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
}
.pressed {
  transform:scale(0.9);
}
.down__arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.down__arrow.active {
  transform: rotate(-90deg);
}

header.active {
  max-height: 150px;
  padding-bottom: 10px;
}
header.active .header__sublinks {
  overflow: visible;
  transform: scaleY(1);
  margin-top: 2%;
  margin-bottom: 2%;
}

.header__top {
  display: flex;
  align-items: center;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  span {
    transition: all 0.6s;
  }
  &:last-child {
    margin-right: 35px;
  }
}
.header__link:hover {
  span {
    color: var(--main-red-col);
  }
}

.down__arrow:hover {
  scale: 0.9;
}

.down__arrow.active {
  rotate: -90deg;
}

.header__divider {
  margin-top: 1%;
  height: 0.5px;
  width: 100%;
  background-color: #fff;
}

.header__sublinks {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
  margin-top: 0%;
  margin-bottom: 0%;
  max-height: 0px;
  gap: 5%;
  a {
    font-size: 12px;
  }
}

.authorize__button {
  cursor: pointer;
  color: #fff;
  background-color: black;
  border: 1px solid white;
  width: 130px;
  height: 35px;
  font-size: 15px;
  border-radius: 7px;
  font-weight: 700;
}

@media (max-width: 430px){
  .header__link {
    font-size: 10px;
    margin-right: 0;
    padding: 10px;
    color: black;
    text-align: left;
  }
  .logo{
    img{
      width: 112px;
      height: 17px;
    }
  }
  .header__flex{
    padding-left: 23px;
  }
  .header__link:last-child{
    margin-right: 0;
  }
  .authorize__button{
    height: 30px;
    width: 100%;
    font-size: 12px;
    margin-left: 20px;
  }
}

