.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
}
* {
  font-family: "Inter", sans-serif;
}

.vote__title {
  margin-left: 4.5%;
  font-size: 50px;
  font-weight: 800;
  span {
    color: var(--main-red-col);
  }
}

.voting__blocks {
  margin-left: 4.5%;
}

.voting__block {
  position: relative;
  width: 80%;
  border: 0.5px solid black;
  border-radius: 20px;
  margin-top: 5%;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.6s ease, padding 0.3s ease;
  padding: 20px;
}

.voting__block-description {
  margin-left: 2%;
  text-align-last: left;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.voting__block:hover {
  max-height: 300px;
  padding-bottom: 40px; /* или сколько тебе нужно */
}

.voting__block:hover .voting__block-description {
  opacity: 1;
  max-height: 200px;
}

.voting__block-title {
  margin-left: 2%;
  text-align-last: left;
  font-weight: 400;
}

.vote__button {
  margin-left: 83.2%;
  bottom: 50%;
  position: absolute;
  width: 15%;
  height: 50%;
  cursor: pointer;
  background-color: black;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  span {
    color: var(--main-red-col);
  }
}
