
.feedback{
  margin-left: 75%;
  margin-top: 10%;
}

.feedback__button {
  transition: all 0.6s ease;
  margin-top: 5%;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: white;
  img {
    height: 50%;
    width: 50%;
  }
  cursor: pointer;
}
.feedback__button:hover{
  transform: scale(0.95);
}

.youtubers__block-flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 50px;
  gap: 12em;
}
@media (max-width: 430px){
  .youtubers__block-flex{
    margin-top: 50px;
  }
  .feedback{
    margin-top: 45vw;
    margin-left: 65%;
  }
  .feedback__modal-block{
    margin-top: 10%;
    margin-left: 10%;
  }
  .feedback__block-title{
    font-size: 18px;
  }
}
@media (min-width: 1900px) and (min-height: 1050px){
  .feedback{
    margin-left: 72%;
    margin-top: 5vw;
  }
}

@media (min-width: 2500px) and (max-height: 1480px){
  .feedback{
    margin-top: 5vw;
    margin-left: 82%;
  }
}

@media(min-width: 768px) and (max-width: 1024px){
  .feedback{
    margin-left: 82%;
    margin-top: 10vw;
  }
}

