.information__block {
  border: 1px solid black;
  width: 247px;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.information__block-wrapper{
  position: relative;
  width: fit-content;
}

.black{
  background-color: black;
}

.white{
  color: white;
}

.information__block-black_plus {
  width: 30px;
  height: 30px;
}
.information__block-number {
  font-size: 55px;
  margin: 0;
}
.information__block-typeof--data {
  margin: 0; 
  display: block;
  align-self: flex-end;
  margin-right: 47px
}

.information__block-subflex{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.information__block-percent_img{
  width: inherit;
  height: inherit;
}
.percent__button {
  position: absolute;
  bottom: -15px;
  left: 230px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}