body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root{
  --main-red-col: #FF0000;
}
* {
  font-family: "Inter", sans-serif;
}

header {
  padding: 20px 0;
  background-color: #F6F5F5;
  max-height: 52px;
}

.header__link{
  text-transform: uppercase;
  margin-right: 96px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #000;
  span{
    transition:all 0.6s;
  }
  &:last-child{
    margin-right: 0px;
  }
}
.header__link:hover.highlight {
  color: var(--main-red-col);
}

.header__links {
  margin-left: 20px;
  display: flex;
  margin-top: -35px;
  justify-content: center;
  a{
    text-decoration: none;
  }
}

.logo {
  margin-top: -10px; /* Увеличь значение, если нужно больше места сверху */
  margin-left: 60px;
  font-size: 40px;
  font-weight: 800;
  max-width: 150px;
}
.logo span{
    color: black;
}
.logo:hover{
  span{
    color: var(--main-red-col);
  }
}

.search__main{
  padding-left: 50px;
  font-size: 30px;
  display: block;
  width: 65%;
  margin: 0 auto;
  margin-top: 60px;
  min-height: 40px;
  border-radius: 100px;
  margin-bottom: 60px;
  border: 1px solid black;
}

.login{
  margin-top: 96px;
  margin-left: 1450px;
  a{
    text-decoration: none;
  }
}

.log__in{
  font-weight: 300;
  font-size: 22px;
  color: #000;
  transition: all 0.6s ease;
}


.sign__in{
  font-weight: 300;
  font-size: 22px;
  color: #000;

}

.buttons{
  display: flex;
  align-items: center;
  width: 100px;
  height: 75px;
  margin-left: 1450px;
  margin-top: -130px;
}

.search__filters{
  border: none;
  background: white;
  margin-top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  img{
    width: 40px;
    height: 40px;
   }
}

.search__glass{
  border: none;
  background: white;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
  width: 40px;
  height: 30px;
  img{
    max-width: 30px;
    max-height: 30px;
  }
}


.target-audence__title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  color: #0d0d0d;
  
  span{
    color: var(--main-red-col);
  }
}
.target__audence{
  margin-left: 300px;
  margin-top: 90px;
}
.number__of__subs{
  margin-left: 300px;
}
.filters {
  max-height: 0;
  overflow: hidden; /* Прячем содержимое */
  opacity: 0; /* Для плавного появления */
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.filters.active {
  max-height: 1000px; /* Укажите примерную максимальную высоту фильтров */
  opacity: 1; /* Показываем элемент */
}

.content__type{
  margin-left: 300px;
  margin-top: 90px;
}
#youth{
  grid-row: 2; 
  grid-column: 2;
}
#older{
  grid-row: 2; 
  grid-column: 3;
}
.filter__block{
  min-width: 250px;
  height: 30px;
  border: 1px solid black;
  border-radius: 97px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #fff;
}
.filter__block.filteractive{
  border: 1.3px solid var(--main-red-col);
  min-width: 250px;
  height: 30px;
  border-radius: 97px;
  cursor: pointer;
  transition: all 0.5s ease;

  text-align: left;
  font-weight: 300;
  font-size: 26px;
  color: #0d0d0d;
  padding-left: 50px;
  align-items: center;
}

.target-audence__blocks{
  display: grid;
  grid-template-columns: repeat(3,350px);
  grid-template-rows: repeat(2,65px);
  column-gap: 10px;
  /* row-gap: 10px; */
}
.filter__block{
  padding-top: 0;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  color: #0d0d0d;
  padding-left: 50px;
  align-items: center;
}

#last{
  grid-column: 3;
  grid-row: 2;
}

#adults{
  grid-column: 1;
  grid-row: 2;
}

.number__ofsubs__blocks{
  display: grid;
  grid-template-columns: repeat(4,350px);
  grid-template-rows: repeat(2,65px);
  column-gap: 10px;
}

.content__type__blocks{
  display: grid;
  grid-template-columns: repeat(3,350px);
  grid-template-rows: repeat(4,65px);
  column-gap: 30px;
}

.number__of__subs{
  margin-top: 90px;
}


.filter__block__subs{
  font-size: 36px;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  color: #0d0d0d;
  padding-left: 50px;
  min-width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 97px;  
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
#mediumplus{
  grid-column: 1;
  grid-row: 2;
}
#hi{
  grid-column: 2;
  grid-row: 2;
}
#hiplus{
  grid-column: 3;
  grid-row: 2;
}
#highest{
  grid-column: 4;
  grid-row: 2;
}

.filter__divider{
  margin-top: 20px;
  height: 1px;
}

.profile__name{
  font-size: 20px;
  margin-right: 5%;
  text-decoration: none;
  color: #000;
}