body {
  margin: 0;
}
main {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
}
* {
  font-family: "Inter", sans-serif;
}

.search__main {
  padding-left: 50px;
  font-size: 20px;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
  min-height: 35px;
  border-radius: 15px;
  margin-bottom: 60px;
  border: 1px solid black;
}

.login {
  margin-top: 70px;
  margin-left: 1050px;
  a {
    text-decoration: none;
  }
}

.log__in {
  font-weight: 300;
  font-size: 17px;
  color: #000;
  transition: all 0.6s ease;
}

.sign__in {
  font-weight: 300;
  font-size: 17px;
  color: #000;
}

.buttons {
  display: flex;
  align-items: center;
  width: 65px;
  height: 40px;
  margin-left: 1100px;
  margin-top: -120px;
}

.search__filters {
  border: none;
  background: white;
  margin-top: 40px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  img {
    width: inherit;
    height: inherit;
  }
}

.search__glass {
  border: none;
  background: white;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  img {
    width: 25px;
    height: 25px;
  }
}

.target-audence__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: #0d0d0d;

  span {
    color: var(--main-red-col);
  }
}
.target__audence {
  margin-left: 200px;
  margin-top: 90px;
}
.number__of__subs {
  margin-left: 200px;
}
.filters {
  max-height: 0;
  overflow: hidden; /* Прячем содержимое */
  opacity: 0; /* Для плавного появления */
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.filters.active {
  max-height: 1500px; /* Укажите примерную максимальную высоту фильтров */
  opacity: 1; /* Показываем элемент */
}

.content__type {
  margin-left: 200px;
  margin-top: 80px;
}
#youth {
  grid-row: 2;
  grid-column: 2;
}
#older {
  grid-row: 2;
  grid-column: 3;
}
.filter__block {
  max-width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 97px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #fff;
}
.filter__block.filteractive {
  border: 1.3px solid var(--main-red-col);
  min-width: 250px;
  height: 30px;
  border-radius: 97px;
  cursor: pointer;
  transition: all 0.5s ease;

  text-align: left;
  font-weight: 300;
  font-size: 22px;
  color: #0d0d0d;
  padding-left: 50px;
  align-items: center;
}

.target-audence__blocks {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, 65px);
  /* row-gap: 10px; */
}
.filter__block {
  padding-top: 0;
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  color: #0d0d0d;
  padding-left: 50px;
  align-items: center;
}

#last {
  grid-column: 3;
  grid-row: 2;
}

#adults {
  grid-column: 1;
  grid-row: 2;
}

.number__ofsubs__blocks {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(3, 65px);
  column-gap: 10px;
}

#highest {
  grid-column: 1;
  grid-row: 3;
}

.content__type__blocks {
  display: grid;
  grid-template-columns: repeat(3, 310px);
  grid-template-rows: repeat(4, 65px);
  column-gap: 25px;
}

.number__of__subs {
  margin-top: 90px;
}

.filter__block__subs {
  font-size: 36px;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  color: #0d0d0d;
  padding-left: 50px;
  min-width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 97px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
#mediumplus {
  grid-column: 1;
  grid-row: 2;
}
#hi {
  grid-column: 2;
  grid-row: 2;
}
#hiplus {
  grid-column: 3;
  grid-row: 2;
}

.filter__divider {
  margin-top: 5%;
  height: 0.5px;
  width: 73%;
}

.profile__name {
  font-size: 16px;
  margin-right: 5%;
  text-decoration: none;
  color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5%;
  margin-left: -11%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--main-red-col);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.multifilter__block{
  display: flex;
  margin-top: 3%;
  margin-left: 14%;
}

.selectedfilters__blocks{
  display: flex;
  gap: 3%;
  margin-top: 5%;
  margin-left: -9%;
}


.selectedfilter__block {
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.selectedfilter__block.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

.selectedfilters__title{
  transition: all 0.6s ease;
  margin-left: 17%;
  opacity: 0;
  max-height: 30px;
}

.selectedfilters__title.active{
  opacity: 1;
}

.reset__button{
  transition: all 0.6s ease;
  cursor: pointer;
  margin-top: -1%;
  background-color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  img {
    width: inherit;
    height: inherit;
  }
}

.reset__button:hover{
  scale: 0.9;
}

.multifilter__title{
  font-weight: 700;
  span {
    color: var(--main-red-col);
  }
}

.close__filter {
  cursor: pointer;
  background-color: #fff;
  border: none;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  img{
    width: inherit;
    height: inherit;
  }
}

.selectedfilter__block {
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 25px;
  border: 1px solid black;
  border-radius: 97px;
  transition: all 0.5s ease;
  background-color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 0 10px 2px;
  opacity: 0;
}
.selectedfilter__block.active{
  opacity: 1;
}

.search__multifilters-btn{
  transition: all 0.6s ease;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  margin-top: -0.5%;
  margin-right: -1%;
  img {
    width: inherit;
    height: inherit;
  }
}

.search__multifilters-btn:hover{
  scale: 0.9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: scale(1); }
  to   { opacity: 0; transform: scale(0.95); }
}

@media (min-width: 1920px) and (min-height: 1050px) {
  .container {
    max-width: 1920px;
  }
  .log__in {
    font-size: 22px;
  }
  .login{
    margin-left: 60%;
  }
  .sign__in {
    font-size: 22px;
  }
  .search__main {
    width: 50%;
  }
  .buttons {
    margin-left: 67%;
  }
  .header__link {
    font-size: 20px;
  }
  .filter__divider{
    width: 52%;
  }
  .target__audence{
    margin-left: 23.5%;
  }
  .number__of__subs{
    margin-left: 23.5%;
  }
  .content__type{
    margin-left: 23.5%;
  }
  .multifilter__block{
    margin-left: 24%;
  }
  .switch{
    margin-left: -9.5%;
  }
  .selectedfilters__blocks{
    margin-left: -12%;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) and (min-height: 720px)
{
  .buttons {
    margin-left: 75%;
  }
}
@media (min-width: 2560px) and (max-height: 1480px){
  .search__main {
    width: 55%;
    height: 50px;
    font-size: 25px;
  }
  .login {
    margin-left: 60%;
  }
  .header__link {
    font-size: 25px;
  }
  .log__in {
    font-size: 22px;
  }
  .sign__in {
    font-size: 22px;
  }
  .search__glass {
    width: 40px;
    height: 40px;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .search__filters {
    height: 45px;
    width: 45px;
  }
  .buttons {
    margin-top: -130px;
    margin-left: 68%;
  }
  .filters {
    margin-left: 5%;
  }
  .target-audence__title {
    font-size: 27px;
  }
  .filter__block {
    font-size: 25px;
  }
  
  .profile__name {
    font-size: 22px;
  }
  .target__audence {
    margin-left: 20%;
  }
  .number__of__subs {
    margin-left: 20%;
  }
  .content__type {
    margin-left: 20%;
  }
  .filter__divider{
    width: 57%;
    margin-left: 18%;
    margin-top: 5%;
  }
  .multifilter__title{
    margin-left: 12%;
    margin-bottom: 0;
  }
  .switch {
    margin-left: -7.5%;
  }
  .selectedfilters__blocks{
    margin-left: -9%;
  }
  .selectedfilters__title{
    margin-left: 10%;
  }
  .multifilter__block{
    margin-left: 10%;
  }
}

@media (min-width: 3840px) and (max-width: 3840px) and (min-height: 2160px) and (max-height: 2160px) {
  .container {
    max-width: 3800px; /* Пример */
  }
  .search__main {
    width: 50%;
  }
  .logo {
    font-size: 50px;
  }
  .header__link {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .filter__divider{
    width: 84%;
  }
  .switch{
    margin-left: -21%;
    margin-top: 10%;
  }
  .multifilter__title{
    margin-left: -6%;
  }
  .selectedfilters__blocks{
    margin-top: 10%;
    margin-left: -13%;
  }
  .selectedfilter__block{
    width: 100px;
  }
  .login {
    margin-left: 65%;
  }
  .search__main {
    width: 80%;
  }
  .buttons {
    margin-left: 75%;
  }
  .target__audence {
    margin-left: 8%;
  }
  .target-audence__blocks {
    width: 70%;
  }
  .filter__block {
    width: 100%;
  }
  .filter__block.filteractive {
    min-width: 200px;
  }
  .target-audence__blocks {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 65px);
    column-gap: 25px;
  }
  .number__of__subs {
    margin-left: 8%;
  }
  .number__ofsubs__blocks {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 65px);
    column-gap: 25px;
  }
  #low {
    width: 70%;
  }
  #lowplus {
    width: 70%;
  }
  #medium {
    width: 70%;
  }
  #mediumplus {
    width: 70%;
  }
  #hi {
    width: 70%;
  }
  #hiplus {
    width: 70%;
  }
  #highest {
    width: 70%;
  }
  .content__type {
    margin-left: 8%;
  }
  .content__type__blocks {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(4, 65px);
    column-gap: 25px;
  }
}
@media (max-width: 430px) {
  .selectedfilters__blocks{
    flex-direction: column;
    margin-left: -52%;
    margin-top: 22%;
  }
  .selectedfilter__block{
    width: 100%;
    margin-top: 15%;
  }
  .multifilter__title{
    margin-left: -15%;
    margin-top: 5%;
  }
  .switch {
    margin-top: 20%;
    margin-left: -40%;
  }
  .selectedfilters__title{
    margin-left: 35%;
  }
  .login {
    margin-left: 60%;
  }
  .buttons {
    margin-left: 65%;
  }
  .search__main {
    width: 380px;
    margin-left: -1%;
    padding-left: 2%;
  }
  .target__audence {
    margin-left: 0;
  }
  .target-audence__blocks {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(2, 40px);
    column-gap: 10px;
    row-gap: 0;
  }
  .filter__block {
    padding-top: 2px;
    font-size: 16px;
    padding-left: 10px;
  }
  .number__of__subs {
    margin-left: 0;
  }
  .number__ofsubs__blocks {
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(2, 40px);
  }
  .content__type {
    margin-left: 0;
  }
  .content__type__blocks {
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(2, 40px);
    row-gap: 5px;
  }
  .filter__block.filteractive {
    min-width: 80px;
    font-size: 15px;
    padding-left: 20px;
  }
  .reset__button{
    margin-top: 5%; 
  }
  .search__multifilters-btn{
    margin-top: 5%;
  }
}
@media (max-width: 375px) {
  .search__main {
    max-width: 320px;
    padding-left: 5%;
    font-size: 15px;
  }
  .login{
    margin-left: 55%;
  }
  .selectedfilters__blocks{
    margin-left: -55%;
  }
  .selectedfilters__title{
    margin-top: 5.5%;
    margin-left: 25%;
  }
  .selectedfilters__blocks{
    margin-top: 16%;
    margin-left: -60%;
  }
}

