body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root{
  --main-red-col: #FF0000;
}
* {
  font-family: "Inter", sans-serif;
}

header {
  padding: 20px 0;
  background-color: #F6F5F5;
  max-height: 52px;
}

.header__link{
  text-transform: uppercase;
  margin-right: 96px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #000;
  span{
    transition:all 0.6s;
  }
  &:last-child{
    margin-right: 0px;
  }
}
.header__link:hover{
  span{
    color: var(--main-red-col);
  }
}

.header__links {
  margin-left: 20px;
  display: flex;
  margin-top: -45px;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
}

.logo {
  margin-top: -10px; /* Увеличь значение, если нужно больше места сверху */
  margin-left: 60px;
  font-size: 30px;
  font-weight: 800;
  max-width: 150px;
  transition: all 0.6s ease;
}
.logo span{
  transition: all 0.6s ease;
    color: black;
}


.search__main{
  padding-left: 50px;
  font-size: 20px;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
  min-height: 35px;
  border-radius: 100px;
  margin-bottom: 60px;
  border: 1px solid black;
}

.login{
  margin-top: 70px;
  margin-left: 1050px;
  a{
    text-decoration: none;
  }
}

.log__in{
  font-weight: 300;
  font-size: 17px;
  color: #000;
  transition: all 0.6s ease;
}


.sign__in{
  font-weight: 300;
  font-size: 17px;
  color: #000;
}

.buttons{
  display: flex;
  align-items: center;
  width: 65px;
  height: 40px;
  margin-left: 1100px;
  margin-top: -120px;
}

.search__filters{
  border: none;
  background: white;
  margin-top: 40px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  img{
    width: inherit;
    height: inherit;
   }
}

.search__glass{
  border: none;
  background: white;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  img{
    width: 25px;
    height: 25px;
  }
}


.target-audence__title{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: #0d0d0d;
  
  span{
    color: var(--main-red-col);
  }
}
.target__audence{
  margin-left: 200px;
  margin-top: 90px;
}
.number__of__subs{
  margin-left: 200px;
}
.filters {
  max-height: 0;
  overflow: hidden; /* Прячем содержимое */
  opacity: 0; /* Для плавного появления */
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.filters.active {
  max-height: 1000px; /* Укажите примерную максимальную высоту фильтров */
  opacity: 1; /* Показываем элемент */
}

.content__type{
  margin-left: 200px;
  margin-top: 90px;
}
#youth{
  grid-row: 2; 
  grid-column: 2;
}
#older{
  grid-row: 2; 
  grid-column: 3;
}
.filter__block{
  max-width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 97px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #fff;
}
.filter__block.filteractive{
  border: 1.3px solid var(--main-red-col);
  min-width: 250px;
  height: 30px;
  border-radius: 97px;
  cursor: pointer;
  transition: all 0.5s ease;

  text-align: left;
  font-weight: 300;
  font-size: 22px;
  color: #0d0d0d;
  padding-left: 50px;
  align-items: center;
}

.target-audence__blocks{
  display: grid;
  grid-template-columns: repeat(3,320px);
  grid-template-rows: repeat(2,65px);
  /* row-gap: 10px; */
}
.filter__block{
  padding-top: 0;
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  color: #0d0d0d;
  padding-left: 50px;
  align-items: center;
}

#last{
  grid-column: 3;
  grid-row: 2;
}

#adults{
  grid-column: 1;
  grid-row: 2;
}

.number__ofsubs__blocks{
  display: grid;
  grid-template-columns: repeat(3,320px);
  grid-template-rows: repeat(3,65px);
  column-gap: 10px;
}

#highest{
  grid-column: 1;
  grid-row: 3;
}

.content__type__blocks{
  display: grid;
  grid-template-columns: repeat(3,310px);
  grid-template-rows: repeat(4,65px);
  column-gap: 25px;
}

.number__of__subs{
  margin-top: 90px;
}


.filter__block__subs{
  font-size: 36px;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  color: #0d0d0d;
  padding-left: 50px;
  min-width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 97px;  
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
#mediumplus{
  grid-column: 1;
  grid-row: 2;
}
#hi{
  grid-column: 2;
  grid-row: 2;
}
#hiplus{
  grid-column: 3;
  grid-row: 2;
}


.filter__divider{
  margin-top: 20px;
  height: 1px;
}

.profile__name{
  font-size: 16px;
  margin-right: 5%;
  text-decoration: none;
  color: #000;
}

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .container{
    max-width: 1920px;
  }
  .log__in{
    margin-left: 20%;
    font-size: 22px;
  }
  .sign__in{
    font-size: 22px;
  }
  .search__main{
    width: 50%;
  }
  .buttons{
    margin-left: 67%;
  }
  .header__link{
    font-size: 20px;
  }
}
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px){
  .buttons{
    margin-left: 75%;
  }  
}
@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  .search__main{
    width: 65%;
    height: 50px;
    font-size: 25px;
  }
  .login{
    margin-left: 60%;
  }
  .header__link{
    font-size: 25px;
  }
  .log__in{
    font-size: 22px;
  }
  .sign__in{
    font-size: 22px;
  }
  .search__glass{
    width: 45px;
    height: 45px;
    img{
      width: inherit;
      height: inherit;
    }
  }
  .search__filters{
    height: 50px;
    width: 50px;
  }
  .buttons{
    margin-top: -128px;
  }
  .filters{
    margin-left: 5%;
  }
  .target-audence__title{
    font-size: 27px;
  }
  .filter__block{
    font-size: 25px;
  }
  .filter__divider{
    margin-top: 2px;
    height: 5px;
  }
  .profile__name{
    font-size: 22px;
  }
}

@media (min-width: 3840px) and (max-width: 3840px) and (min-height: 2160px) and (max-height: 2160px) {
  .container {
    max-width: 3800px; /* Пример */
  }
  .search__main{
    width: 50%;
  }
  .logo{
    font-size: 50px;
  }
  .header__link{
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
 .login{
  margin-left: 68%;
 }
 .search__main{
  width: 80%;
 }
 .buttons{
  margin-left:75%;
 }
 .target__audence{
  margin-left: 8%;
}
.target-audence__blocks{
  width: 70%;
}
.filter__block{
  width: 100%;
}
.filter__block.filteractive{
  min-width: 200px;
}
.target-audence__blocks{
  display: grid;
  grid-template-columns: repeat(3,190px);
  grid-template-rows: repeat(2,65px);
  column-gap: 25px;
}
.number__of__subs{
  margin-left: 8%;
}
.number__ofsubs__blocks{
  display: grid;
  grid-template-columns: repeat(3,205px);
  grid-template-rows: repeat(3,65px);
}
#low{
  width: 70%;
}
#lowplus{
  width: 70%;
}
#medium{
  width: 70%;
}
#mediumplus{
  width: 70%;
}
#hi{
  width: 70%;
}
#hiplus{
  width: 70%;
}
#highest{
  width: 70%;
}
.content__type{
  margin-left: 8%;
}
.content__type__blocks{
  display: grid;
  grid-template-columns: repeat(3,195px);
  grid-template-rows: repeat(4,65px);
  column-gap: 25px;
}
.header__link{
  margin-right: 96px;
}
}
@media (max-width: 430px) and (max-height: 920px) {
  .login{
    margin-left: 60%;
  }
  .buttons{
    margin-left: 65%;
  }
  .search__main{
    min-width:330px;
    margin-left: -1%;
  }
  header{
    width: auto;
  }
  .target__audence{
    margin-left: 0;
  }
  .target-audence__blocks{
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(2,40px);
    column-gap : 10px;
    row-gap : 0;
  }
  .filter__block{
    padding-top: 2px;
    font-size: 16px;
    padding-left: 10px;
  }
  .number__of__subs{
    margin-left: 0;
  }
  .number__ofsubs__blocks{
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(2,40px);
  }
  .content__type{
    margin-left: 0;
  }
  .content__type__blocks{
    grid-template-columns: repeat(3,110px);
    grid-template-rows: repeat(2,40px);
    row-gap: 5px;
  }
  .filter__block.filteractive{
    min-width: 80px;
  }
}

