.youtuber__block {
  position: relative;
  border: 1px solid #000;
  border-radius: 55px;
  width: 1020px;
  height: 310px;
  margin: 0 auto;
  z-index: -1;
}
:root {
  --main-red-col: #ff0000;
}
.youtubers {
  margin-top: 130px;
}
.youtuber__image {
  position: absolute;
  left: 60.7%;
  bottom: 0%;
  border-radius: 55px;
  width: 400px;
  height: 309px;
  z-index: -1;
  border: 1px solid black;
}

.youtuber__information {
  display: grid;
  grid-template-columns: auto 10px 1fr;
  gap: 10px 15px;
  margin: 20px 100px;
  align-items: center;
}

.youtuber__info {
  font-weight: bold;
}

.youtuber__dash {
  font-weight: bold;
}

.youtuber__name {
  margin-top: 60px;
  margin-left: 100px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 0;
}
.pulse {
  animation: pulse 1.5s infinite;
}
.youtuber__definitions {
  width: 30%;
}
.youtuber__definition {
  text-align: left; 
  font-weight: 300;
  font-size: 20px;
  color: #000;
  margin-bottom: 40px;
}

.statistic {
  font-weight: 300;
  font-size: 20px;
  color: #060606;
  margin-bottom: 40px;
  transition: all 0.4s;
}

#subs {
  padding-bottom: 150px;
}
.none {
  opacity: 1;
  transition: 0.2s all;
}
.youtuber__stats {
  width: 30%;
}

.youtuber__button {
  border: 1px solid black;
  border-radius: 97px;
  width: 180px;
  height: 80px;
  margin-top: 50px;
  margin-left: 200px;
  margin-bottom: 100px;
  font-weight: 600;

  font-size: 17px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.youtuber__button:hover {
  border: 1px solid #ff0000;
}

.youtuber__button.success {
  width: 630px;
  color: #000;
  border-color: rgba(24, 160, 115, 0.838);
}

.youtuber__button.fail {
  width: 630px;
  color: #000;
  border-color: rgba(255, 0, 0, 0.838);
}



.feedback{
  margin-left: 85%;
}

.feedback__button {
  transition: all 0.6s ease;
  margin-top: 5%;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex; /* Центрируем иконку */
  align-items: center;
  justify-content: center;
  background-color: white; /* На случай прозрачности */
  img {
    height: 50%;
    width: 50%;
  }
  cursor: pointer;
}
.feedback__button:hover{
  transform: scale(0.95);
}

.blur-shimmer {
  width: 100px; /* или auto */
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 0.2) 25%,
    rgba(200, 200, 200, 0.5) 50%,
    rgba(220, 220, 220, 0.2) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@media (min-width: 1920px) and (min-height: 1050px)
 {
  .youtuber__button {
    margin-left: 23%;
    font-size: 20px;
  }
  .youtuber__name {
    margin-top: 35px;
    font-size: 25px;
  }
  .youtuber__definition {
    font-size: 25px;
  }
  .statistic {
    font-size: 25px;
    word-wrap: break-word;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) and (min-height: 720px)
 {
  .youtuber__button {
    margin-left: 10%;
  }
}
@media (min-width: 2480px) and (max-height: 1024px)
 {
  .youtuber__button {
    margin-left: 18%;
  }
  .youtuber__name {
    margin-top: 45px;
    font-size: 30px;
  }
  .youtuber__definition {
    font-size: 25px;
  }
  .statistic {
    font-size: 25px;
    word-wrap: break-word;
  }
  .youtuber__button {
    font-size: 20px;
    margin-left: 30%;
  }
  .youtuber__block {
    width: 1100px;
    height: 350px;
  }
  .youtuber__image {
    width: 450px;
    height: 350px;
  }
  .feedback__button{
    margin-left: -410px;
  }
  .feedback__modal-block{
    margin-left: 30%;
  }
  .feedback__block-title{
    font-size: 30px;
  }
  .feedback-mark {
    font-size: 25px;
  }
  #submit{
    img{
     width: 50px;
     height: 50px; 
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px)
 {
  .youtuber__block {
    display: block;
    margin: 0 auto;
    width: 80%;
    /* margin-left: 5%; */
    height: 250px;
    border-radius: 50px;
  }
  .youtuber__image {
    left: 62%;
    bottom: -0.5%;
    width: 300px;
    height: 250px;
    border-radius: 50px;
  }
  .youtuber__definitions {
    margin-right: 5%;
  }
  .youtuber__definition {
    word-wrap: break-word;
    margin-bottom: 0px;
    margin-top: 5%;
  }
  .youtuber__definition:nth-child(1){
    margin-top: 0;
  }
  .youtuber__information {
    margin-left: 10%;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 0.5;
  }
  .youtuber__name {
    margin-top: 6%;
    margin-left: 10%;
  }
  .youtuber__button {
    margin-left: 10%;
  }
  .statistic {
    margin-top: 30px;
    margin-bottom: 0;
  }
  #contentType {
    margin-top: 40px;
  }
  .youtuber__stats{
    margin-top: -4%;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  .youtuber__block {
    width: 100%;
    height: 372px;
    margin-left: 0;
    border-radius: 40px;
  }
  .youtuber__image {
    width:100%;
    height: 250px;
    border-radius: 40px;
    left: 0%;
    bottom: -30%;
  }
  .youtuber__name {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .youtuber__information {
    margin-left: 10%;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 0.5;
  }

  .youtuber__button {
    margin-left: 0;
    margin-top: 35%;
  }
  .youtuber__button.success {
    width: 350px;
  }
  .youtuber__button.fail {
    width: 350px;
  }
  .feedback{
    margin-left: 75%;
  }
  .youtuber__information{
    width: 90%;
  }
}
