.youtuber__block{
    position: relative;
    border: 1px solid #000;
    border-radius: 75px;
    width: 1020px;
    height: 310px;
    margin: 0 auto;
    z-index: -1;
  }
  :root{
    --main-red-col: #FF0000;
  }
  .youtubers{
    margin-top: 130px;
  }
  .youtuber__image{
    position: absolute;
    left: 60.6%;
    bottom:0%;
    border-radius: 75px;
    width: 400px;
    height: 309px;
    z-index: -1;
    border: 1px solid black;
  }
  
  .youtuber__information{
    display: flex;
    align-items: flex-start; 
    margin: 10px 100px; 
  }
  
  .youtuber__name{
    margin-top: 60px;
    margin-left: 100px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
  }
  .pulse{
    animation: pulse 1.5s infinite;
  }
  .youtuber__definitions{
    width: 30%;
  }
  .youtuber__definition{
    text-align: left; /* Текст выравнивается по левому краю */
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-bottom: 40px;
  }
  
  .statistic{
    font-weight: 300;
    font-size: 20px;
    color: #060606;
    margin-bottom:40px; 
    transition: all 0.4s;
  }
  #subs{
    padding-bottom: 150px;
  }
  .none{
    opacity: 1;
    transition: 0.2s all;
  }
  .youtuber__stats{
    width: 30%;
  }
  
  .youtuber__button{
    border: 1px solid black;
    border-radius: 97px;
    width: 180px;
    height: 80px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 100px;
    font-weight: 600;
  
    font-size: 17px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .youtuber__button:hover{
    border: 1px solid #ff0000 ;
  }
  
  
  .youtuber__button.success {
    width: 630px;
    color: #000;
    border-color: rgba(24, 160, 115, 0.838);
  }
  
  .youtuber__button.fail {
    width: 630px;
    color: #000;
    border-color: rgba(255, 0, 0, 0.838);
  }

  .footer__purpose{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

  @media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
    .youtuber__button{
      margin-left: 23%;
      font-size: 20px;
    }
    .youtuber__name{
      margin-top: 35px;
      font-size: 25px;
    }
    .youtuber__definition{
      font-size: 25px;
    }
    .statistic{
      font-size: 25px;
      word-wrap: break-word;
    }
  }
  @media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px){
    .youtuber__button{
      margin-left: 10%;
    }
  }
  @media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
    .youtuber__button{
      margin-left: 18%;
    }  
    .youtuber__name{
      margin-top: 45px;
      font-size: 30px;
    }
    .youtuber__definition{
      font-size: 25px;
    }
    .statistic{
      font-size: 25px;
      word-wrap: break-word;
    }
    .youtuber__button{
      font-size: 20px;
    }
    .youtuber__block{
      width: 1100px;
      height: 350px;
    }
    .youtuber__image{
      width: 450px;
      height: 350px;
    }
  }
  @media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
    .youtuber__block{
      width: 70%;
      margin-left: 5%;
      height: 250px;
      border-radius: 50px;
    }
    .youtuber__image{
      bottom:-0.5%;
      width: 350px;
      height: 250px;
      border-radius: 50px;
    }
    .youtuber__definitions{
      margin-right: 5%;
    }
    .youtuber__definition{
      word-wrap: break-word;
      margin-bottom: 0px;
      margin-top: 10px;
    }
    .youtuber__information{
      margin-top: 2%;
      margin-left: 10%;
      word-wrap: break-word;
    }
    .youtuber__name{
      margin-top: 6%;
      margin-left: 10%;
    }
    .youtuber__button{
      margin-left: 6%;
    }
    .statistic{
      margin-top: 30px;
      margin-bottom: 0;
    }
    #contentType{
      margin-top: 40px;
    }
    #Terms{
      margin-left: 20px;
    }
  }
  @media (max-width: 430px) and (max-height: 920px) {
    .youtuber__block{
      width:70%;
      height: 210px;
      margin-left: 0;
      border-radius: 40px;
    }
    .youtuber__image{
      width: 80%;
      height: 210px;
      border-radius: 40px;
      left: 64%;
    }
    .youtuber__name{
      font-size: 17px;
      margin-top: 30px;
      margin-left: 30px;
    }
    .youtuber__information{
      margin-left: 11%;
    }
    .youtuber__definition{
      font-size: 15px;
      margin-bottom: 0;
      margin-top: 5px;
      width: 60px;
    }
    .youtuber__stats{
      margin-left: 40%;
      margin-top: 0;
    }
    .statistic{
      font-size: 15px;
      margin-top: 23px;
      margin-bottom: 20px;
      &:first-child{
        margin-top: 5px;
      }
    }
    .youtuber__button{
      margin-left: 0;
    }
    .youtuber__button.success {
      width: 350px;
    }
    .youtuber__button.fail {
      width: 350px;
    }
  }
  