.youtuber__block{
    position: relative;
    border: 1px solid #000;
    border-radius: 75px;
    max-width: 1020px;
    max-height: 310px;
    margin: 0 auto;
    z-index: -1;
  }
  :root{
    --main-red-col: #FF0000;
  }
  .youtubers{
    margin-top: 130px;
  }
  .youtuber__image{
    position: absolute;
    left: 60.6%;
    bottom:0%;
    border-radius: 75px;
    width: 400px;
    height: 309px;
    z-index: -1;
    border: 1px solid black;
  }
  
  .youtuber__information{
    display: flex;
    align-items: flex-start; 
    margin: 10px 100px; 
  }
  
  .youtuber__name{
    margin-top: 60px;
    margin-left: 100px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    color: #000;
    margin-bottom: 0;
  }
  .pulse{
    animation: pulse 1.5s infinite;
  }
  .youtuber__definitions{
    width: 30%;
  }
  .youtuber__definition{
    text-align: left; /* Текст выравнивается по левому краю */
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-bottom: 40px;
  }
  
  .statistic{
    font-weight: 300;
    font-size: 20px;
    color: #060606;
    margin-bottom:40px; 
    transition: all 0.4s;
  }
  #subs{
    padding-bottom: 150px;
  }
  .none{
    opacity: 1;
    transition: 0.2s all;
  }
  .youtuber__stats{
    width: 30%;
  }
  
  .youtuber__button{
    border: 1px solid black;
    border-radius: 97px;
    width: 180px;
    height: 80px;
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 100px;
    font-weight: 600;
  
    font-size: 17px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .youtuber__button:hover{
    border: 1px solid #ff0000 ;
  }
  
  
  .youtuber__button.success {
    width: 630px;
    color: #000;
    border-color: rgba(24, 160, 115, 0.838);
  }
  
  .youtuber__button.fail {
    width: 630px;
    color: #000;
    border-color: rgba(255, 0, 0, 0.838);
  }

  .footer__purpose{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

  @media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
    .youtuber__button{
      margin-left: 23%;
    }
  }
  @media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px){
    .youtuber__button{
      margin-left: 10%;
    }
  }
  @media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
    .youtuber__button{
      margin-left: 18%;
    }  
    
  }