.youtuber__block {
    border: 1px solid #000;
    border-radius: 55px;
    width: 1020px;
    height: 310px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 0;
  }
  
  .youtuber__flex-subblock {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
  
  .youtuber__information {
    display: grid;
    grid-template-columns: auto 10px 1fr;
    grid-template-rows: auto repeat(3, auto);
    gap: 10px 15px;
    align-items: center;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  .youtuber__name {
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: 600;
  }
  
  .youtuber__image {
    width: 400px;
    height: 100%;
    border-radius: 55px;
    border: 1px solid black;
    object-fit: cover;
}

.youtuber__button {
  border: 1px solid black;
  border-radius: 97px;
  width: 180px;
  height: 80px;
  margin-top: 3%;
  /* margin-bottom: 5%; */
  font-weight: 600;

  font-size: 17px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s ease;
}

.youtuber__button:hover {
  border: 1px solid #ff0000;
}

.youtuber__button.success {
  width: 630px;
  color: #000;
  border-color: rgba(24, 160, 115, 0.838);
}

.youtuber__button.fail {
  width: 630px;
  color: #000;
  border-color: rgba(255, 0, 0, 0.838);
}

.pulse {
  animation: pulse 1.5s infinite;
}



.blur-shimmer {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 0.2) 25%,
    rgba(200, 200, 200, 0.5) 50%,
    rgba(220, 220, 220, 0.2) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


@media (min-width: 2560px) and (max-height: 1480px) {
  .feedback__button{
    margin-left: -410px;
  }
  .feedback__modal-block{
    margin-left: 30%;
  }
  .feedback__block-title{
    font-size: 30px;
  }
  .feedback-mark {
    font-size: 25px;
  }
  #submit{
    img{
     width: 50px;
     height: 50px; 
    }
  }
  .youtuber__block {
    width: 1100px;
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .youtuber__block {
    width: 89%;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .youtuber__image {
    width: 350px;
    border-radius: 50px;
  }
  .youtuber__flex-subblock{
    gap: 5%;
  }
}

@media (max-width: 430px){
  .youtuber__block{
    width: 100%;
    height: 10%;
    border-bottom: none;
  }
  .youtuber__flex-subblock{
    flex-direction: column;
  }
  .youtuber__image{
    width: 100%;
    height: 350px;
  }
  .youtuber__information{
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 5%;
    .youtuber__info{
      word-break:break-all;
    }
  }
  .youtuber__button{
    width: 100%;
    margin-top: 10%;
  }
  .youtuber__button.success {
    width: 100%;
    color: #000;
    border-color: rgba(24, 160, 115, 0.838);
  }
} 