
.recent__block{
  position: relative;
  border: 1px solid #000;
  border-radius: 30px;
  width: 707px;
  height: 250px;
  margin: 0 auto;
  margin-top: 2%;
}

  .recent__block.unactive{
    opacity: 0; /* Для плавного появления */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0px;
    border: 1px solid black;
  }

  .recent-block__thumbnail{
    border-radius: 30px;
    position: absolute;
    width: 300px;
    height: 250px;
    left: 400px;
    top: -0.2px;
  }

  .title{
    font-size: 70px;
    margin-left: 28%;
    text-transform: uppercase;
    transition: all 0.6s;
  }
  .title.active{
    span{
      color: var(--main-red-col);
      transition: all 0.6s;
    }
  }

  .recent-block__name{
    font-size: 25px;
    font-weight: 600;
    margin-left: 7%;
    margin-top: 4%;
  }

  .recent-block__email{
    margin-left: 7%;
    span{
        color: var(--main-red-col); 
    }
  }

  .recent-block__bin{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border:none;
    margin-top: 3%;
    margin-left: 4%;
    img{
        width: inherit;
        height: inherit;
    }
    cursor: pointer;
  }

  .footer__purpose{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  .footer__container{
    margin-top: 50%;
  }

  .no_available{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
  }

  .no_available_img{
    margin-left: 40%;
    width: 300px;
    height: 410px;
  }

  .magnifying_glass{
    position: absolute;
    top: 500px;
    right: 500px;
    width: 250px;
    height: 250px;
    animation: rotate 4s linear infinite;
    transform: translate(100px, 0);
  }

  

  @keyframes rotate {
    0% {
      transform: translate(70px, 0);
    }
    10% {
      transform: translate(87px, 50px);
    }
    20% {
      transform: translate(50px, 87px);
    }
    30% {
      transform: translate(0, 100px);
    }
    40% {
      transform: translate(-50px, 87px);
    }
    50% {
      transform: translate(-87px, 50px);
    }
    60% {
      transform: translate(-100px, 0);
    }
    70% {
      transform: translate(-87px, -50px);
    }
    80% {
      transform: translate(-50px, -87px);
    }
    90% {
      transform: translate(10, -100px);
    }
    100% {
      transform: translate(70px, 0);
    }
  }

  @media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
   .no_available_img{
    margin-left: 42.5%;
   }
  }
  
  
  
  
  