.recent__block {
  position: relative;
  border: 1px solid #000;
  border-radius: 30px;
  width: 707px;
  height: 250px;
  margin: 0 auto;
  margin-top: 2%;
}

.recent__block.unactive {
  opacity: 0; /* Для плавного появления */
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0px;
  border: 1px solid black;
}

.recent-block__thumbnail {
  border-radius: 30px;
  position: absolute;
  width: 300px;
  height: 250px;
  left: 407px;
  top: -0.2px;
}

.title {
  font-size: 70px;
  margin-left: 25%;
  text-transform: uppercase;
  transition: all 0.6s;
  width: 50%;
}
.title.active {
  span {
    color: var(--main-red-col);
    transition: all 0.6s;
  }
}

.recent-block__name {
  font-size: 25px;
  font-weight: 600;
  margin-left: 7%;
  margin-top: 4%;
}

.recent-block__email {
  margin-left: 7%;
  span {
    color: var(--main-red-col);
  }
}

.recent-block__bin {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: none;
  margin-top: 3%;
  margin-left: 4%;
  img {
    width: inherit;
    height: inherit;
  }
  cursor: pointer;
}

.no_available {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.no_available_img {
  margin-top: 3%;
  margin-left: 43%;
  width: 200px;
  height: 230px;
  margin-bottom: 10%;
}

.magnifying_glass {
  position: absolute;
  top: 400px;
  right: 550px;
  width: 150px;
  height: 150px;
  animation: rotate 4s linear infinite;
  transform: translate(100px, 0);
}

@keyframes rotate {
  0% {
    transform: translate(70px, 0);
  }
  10% {
    transform: translate(87px, 50px);
  }
  20% {
    transform: translate(50px, 87px);
  }
  30% {
    transform: translate(0, 100px);
  }
  40% {
    transform: translate(-50px, 87px);
  }
  50% {
    transform: translate(-87px, 50px);
  }
  60% {
    transform: translate(-100px, 0);
  }
  70% {
    transform: translate(-87px, -50px);
  }
  80% {
    transform: translate(-50px, -87px);
  }
  90% {
    transform: translate(10, -100px);
  }
  100% {
    transform: translate(70px, 0);
  }
}

@media (min-width: 1920px) and (min-height: 1050px)
 {
  .no_available_img {
    margin-left: 45%;
  }
  .magnifying_glass{
    right: 800px;
  }
  .title{
    margin-left: 29%;
  }
}

@media (min-width: 2560px) and (max-height: 1480px)
 {
    .title{
      margin-left: 31%;
    }
 } 
@media (min-width: 768px) and (max-width: 1024px)
 {
  .title{
    margin-left: 5%;
  }
  .recent__block{
    width: 90%;
  }
  .recent-block__thumbnail{
    width: 250px;
    margin-left: 26%;
  }
  #purchasesFooter{
    margin-top: 61%;
  }
  .no_available_img{
    margin-left:40%;
  }
  .magnifying_glass{
    top: 375px;
    right: 350px;
  }
  #purchases__footer-container{
    margin-top: 55%;
  }
  .recent-block__bin{
    margin-top: 1%;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  .title{
    font-size: 30px;
    margin-left: 5%;
  }
  .recent__block{
    width: 95%;
    height: 90%;
  }
  .recent-block__email{
    word-wrap: break-word;
    font-size: 15px;
    width: 145px;
  }
  .recent-block__name{
    margin-top: 7%;
    font-size: 20px;
    word-break: break-all;
  }
  .recent-block__bin{
    margin-top: -5%;
    margin-left: 15px;
    width: 70px;
    height: 70px;
  }
  .recent-block__thumbnail{
    width: 200px;
    height: 192px;
    left: 171px;
    top: 0px
  }
  .no_available_img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-bottom: 50%;
  }
  .magnifying_glass{
    left: 180px;
    top: 250px;
    width: 150px;
    height: 150px;
  }
  #purchases__footer-container{
    margin-top: 60%;
  }
}
