
body {
    margin: 0;
}
  
  .container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; /* центрирует контейнер */
    padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
    box-sizing: border-box;
  }
  :root{
    --main-red-col: #FF0000;
  }
  *{
    font-family: "Inter", sans-serif;
  }
  .none{
    opacity: 1;
    transition: 0.2s all;
  }
  header {
    padding: 20px 0;
    background-color: #F6F5F5;
    max-height: 52px;
  }
  
  .header__link{
    text-transform: uppercase;
    margin-right: 96px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #000;
    span{
      transition:all 0.6s
    }
    &:last-child{
      margin-right: 0px;
    }
  }
  .header__link:hover{
    span{
      color: var(--main-red-col);
    }
  }
  #purchases{
    span{
      color: var(--main-red-col);
    }
  }
  .header__links {
    margin-left: 20px;
    display: flex;
    margin-top: -35px;
    justify-content: center;
    a{
      text-decoration: none;
    }
  }
  
  .logo {
    margin-top: -10px; /* Увеличь значение, если нужно больше места сверху */
    margin-left: 60px;
    font-size: 40px;
    font-weight: 800;
    max-width: 150px;
    a{
      color: black;
      text-decoration: none;
    }
  }
  .logo span {
    transition: all 0.6s;
    color:black;
  }/*# sourceMappingURL=style.css.map */

  .logo:hover{
    span{
      color: var(--main-red-col);
    }
  }
  

  .recent__block{
    position: relative;
    border: 1px solid #000;
    border-radius: 30px;
    width: 807px;
    height: 302px;
    margin: 0 auto;
    margin-top: 2%;
  }

  .recent__block.unactive{
    opacity: 0; /* Для плавного появления */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0px;
  }

  .recent-block__thumbnail{
    border-radius: 30px;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 506px;
    top: 0.5px;
  }

  .title{
    font-size: 70px;
    margin-left: 28%;
    text-transform: uppercase;
    transition: all 0.6s;
  }
  .title.active{
    span{
      color: var(--main-red-col);
      transition: all 0.6s;
    }
  }

  .recent-block__name{
    font-size: 25px;
    font-weight: 600;
    margin-left: 7%;
    margin-top: 4%;
  }

  .recent-block__email{
    margin-left: 7%;
    span{
        color: var(--main-red-col); 
    }
  }

  .recent-block__bin{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border:none;
    margin-top: 8%;
    margin-left: 4%;
    img{
        width: inherit;
        height: inherit;
    }
  }

  .footer__purpose{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  .footer__container{
    margin-top: 50%;
  }

  .no_available{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
  }

  .no_available_img{
    margin-left: 42%;
    width: 300px;
    height: 410px;
  }

  .magnifying_glass{
    position: absolute;
    top: 500px;
    right: 700px;
    width: 250px;
    height: 250px;
    animation: rotate 4s linear infinite;
    transform: translate(100px, 0);
  }

  

  @keyframes rotate {
    0% {
      transform: translate(70px, 0);
    }
    10% {
      transform: translate(87px, 50px);
    }
    20% {
      transform: translate(50px, 87px);
    }
    30% {
      transform: translate(0, 100px);
    }
    40% {
      transform: translate(-50px, 87px);
    }
    50% {
      transform: translate(-87px, 50px);
    }
    60% {
      transform: translate(-100px, 0);
    }
    70% {
      transform: translate(-87px, -50px);
    }
    80% {
      transform: translate(-50px, -87px);
    }
    90% {
      transform: translate(10, -100px);
    }
    100% {
      transform: translate(70px, 0);
    }
  }
  
  
  
  