
.profile_name {
  margin-left: 20.5%;
  font-size: 33px;
  margin-top: 15%;
}

.profile__edit-button {
  background-color: #fff;
  border: none;
  margin-left: 53.5%;
  top: 45.5%;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}



.profile_uses-title {
  font-size: 30px;
  margin-left: 20.5%;
  text-transform: uppercase;
  margin-top: 5%;
  margin-bottom: 10%;
}

.profile_uses-amount {
  font-size: 25px;
  margin-left: 20.5%;
  margin-top: -9%;
}

.info_block-title {
  text-transform: uppercase;
  margin-left: 20.5%;
  font-size: 30px;
  span {
    color: var(--main-red-col);
  }
}

.info_block-email {
  margin-left: 20.5%;
  font-size: 20px;
  span {
    color: var(--main-red-col);
  }
}

.info_block-password {
  margin-left: 20.5%;
  font-size: 20px;
  span {
    color: var(--main-red-col);
  }
}

.footer__container {
  margin-top: 7%;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  &:nth-child(1) {
    padding-left: 105px;
  }
}

.footer__logo {
  font-weight: 600;
  font-size: 20px;
}

.footer__terms {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.footer__purpose {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.footer__button {
  border: 1px solid #000;
  border-radius: 11px;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;

  width: 232px;
  height: 31px;
  margin-top: 15px;
  margin-right: 30px;
}

.username__edit-button{
  position: absolute;
  margin-left: 35%;
  margin-top: 0%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}
.unactive{
  display: none;
}

.password__edit-button {
  position: absolute;
  margin-left: 33%;
  margin-top: -3.5%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}

.none {
  opacity: 1;
  transition: 0.2s all;
}

.edit__button{
  min-width: 80px;
  min-height: 40px;
  background-color: var(--main-red-col);
  border: none;
  color: #fff;
  font-size: 17px;
  margin-left: 20.5%;
  margin-top: 2%;
  cursor: pointer;
}

.name__input{
  margin-top: 15%;
  margin-left: 20.5%; 
  width: 200px;
  height: 25px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius : 10px;
}

.password__input{
  margin-left: 20.5%;
  font-size: 15px;
  padding: 10px;
  border: 2px solid black;
  border-radius : 10px;
  width: 30%;
}

#delete{
  background-color: #fff;
  margin-left: 21%;
}
.bin_btn{
  max-width: 80px;
  max-height: 80px;
}
.profile__promocode-activation{
  background-color: #000000;
  color: rgb(255, 255, 255);
  border : 1px solid black;
  margin-left: 20.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  width: 15%;
  height: 50px;
  span{
    color: var(--main-red-col);
  }
}
.profile__promocode-activation.none{
  display: none;
}
.promocode_input{
  margin-left: 20.5%;
  width: 170px;
  height: 15px;
  font-size: 15px;
  padding: 10px;
  border: 2px solid black;
  border-radius : 10px;
}
.promocode__submit-btn{
  transition: all 0.6s ease;
  position: absolute;
  border : 2px solid black;
  border-radius: 40px;
  background-color: #fff;
  top: 59%;
  left: 36%;
  width: 35px;
  height: 35px;
  padding: 0;
  cursor: pointer;
  img{
    width: inherit;
    height: inherit;
  }
}
.promocode__submit-btn:hover{
  transform: scale(0.95);
}

@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  #delete{
    margin-left: 20%;
  }
  .promocode__submit-btn{
    top: 50.5%;
    left: 30%;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  .username__edit-button {
    margin-left: 50%;
  }
  .password__edit-button {
    margin-left: 50%;
    margin-top: -12%;
  }
  .password__input{
    width:220%
  }
  #delete{
    margin-left: 23%;
  }
  .profile_name{
    margin-left: 5%;
  }
  .profile_uses-title{
    margin-left: 5%;
  }
  .profile_uses-amount{
    margin-left: 6%;
  }
  .info_block{
    margin-right: 70%;
  }
  .edit__button{
    margin-top: 5%;
    margin-left: 6%;
  }
  #delete{
    margin-left: 6%;
  }
  .name__input{
    margin-left: 5%;
  }
  #profile__footer{
    margin-top: 70%;
  }
}
@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px){
  .promocode__submit-btn{
    top: 54.5%;
  }
}
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px){
  .promocode__submit-btn{
    top: 62%;
    left: 38%;
  }
}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px){
  .username__edit-button {
    margin-left: 50%;
  }
  .password__edit-button {
    margin-left: 55%;
    margin-top: -5%;
  }
  #profile__footer{
    margin-top: 16%;
  }
  .promocode__submit-btn{
    top: 33%;
    left: 50%;
  }
}
@media (max-width: 430px) and (max-height: 920px){
.promocode_input{
  margin-left: 5%;
}
.promocode__submit-btn{
  top: 29%;
  left: 60%;
}
}
