:root{
  --main-margin-left : 20.5%;
}
.profile_name {
  margin-left: var(--main-margin-left);
  font-size: 33px;
  margin-top: 15%;
}

.profile__edit-button {
  background-color: #fff;
  border: none;
  margin-left: 53.5%;
  top: 45.5%;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}

.profile_uses-title {
  font-size: 30px;
  margin-left: var(--main-margin-left);
  text-transform: uppercase;
  margin-bottom: 1%;
  margin-top: 5%;
}

.profile_uses-amount {
  font-size: 25px;
  margin-left: var(--main-margin-left);
}

.info_block-title {
  margin-top: 8%;
  text-transform: uppercase;
  margin-left: var(--main-margin-left);
  font-size: 30px;
  span {
    color: var(--main-red-col);
  }
}

.info_block-email {
  margin-left: var(--main-margin-left);
  font-size: 20px;
  span {
    color: var(--main-red-col);
  }
}

.info_block-password {
  font-size: 20px;
  span {
    color: var(--main-red-col);
  }
}



.username__edit-button{
  background-color: #fff;
  border: none;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}
.unactive{
  display: none;
}

.password__edit-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
  }
}

.none {
  opacity: 1;
  transition: 0.2s all;
}

.edit__button{
  border-radius: 10px;
  min-width: 130px;
  min-height: 40px;
  background-color: var(--main-red-col);
  border: none;
  color: #fff;
  font-size: 17px;
  margin-left: var(--main-margin-left);
  margin-top: 2%;
  cursor: pointer;
  font-weight: 700;
}

.name__input{
  margin-top: 15%;
  margin-left: var(--main-margin-left); 
  width: 200px;
  height: 25px;
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius : 10px;
}

.password__input{
  margin-left: var(--main-margin-left);
  font-size: 15px;
  padding: 10px;
  border: 2px solid black;
  border-radius : 10px;
  width: 30%;
}

#delete{
  background-color: #fff;
  margin-left: 21%;
}
.bin_btn{
  max-width: 80px;
  max-height: 80px;
}
.profile__promocode-activation{
  background-color: #000000;
  color: rgb(255, 255, 255);
  border : 1px solid black;
  margin-left: var(--main-margin-left);
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  width: 15%;
  height: 50px;
  span{
    color: var(--main-red-col);
  }
  border-radius : 10px;
}
.profile__promocode-activation.none{
  display: none;
}
.promocode_input{
  margin-left: var(--main-margin-left);
  width: 170px;
  height: 15px;
  font-size: 15px;
  padding: 10px;
  border: 2px solid black;
  border-radius : 10px;
}
.promocode__submit-btn{
  transition: all 0.6s ease;
  border : 2px solid black;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;
  height: 40px;
  width: 40px;
  img{
    display: block;
    margin : 0 auto;
    width: 25px;
    height: 25px;
  }
}
.promocode__submit-btn:hover{
  transform: scale(0.95);
}

.promocode__container{
  display: flex;
  align-items: center;
  gap: 2%;
}

.name__container{
  display: flex;
  align-items: baseline;
  gap: 5%;
}

.password__container{
  display: flex;
  align-items : baseline;
  margin-left: var(--main-margin-left);
  gap: 5%;
}

.profile__bg{
  background-color: #dcd1d1;
  width: 70%;
}

@media (min-width: 2560px) and (max-height: 1480px)
 {
  #delete{
    margin-left: 27.5%;
  }
}

@media (min-width: 1920px) and (min-height: 1080px)
{
  
}
@media (min-width: 1280px) and (max-width: 1439px) and (min-height: 720px){
  
}

@media (max-width: 430px){
  :root {
    --main-margin-left : 10%;
  }
  #delete{
    margin-left: 13%;
  }
  .profile__promocode-activation {
    width: 70%;
  }
}

