.burger {
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    z-index: 1001;
    cursor: pointer;
    color: white;
  }
  
  .menu-overlay {
    position: absolute;
    top: 100%; /* или top: 90px, если хочешь под хедером */
    right: 0;
    width: 150px;
    height: 100vh;
    background-color: rgba(255, 255, 255,0.5);
    backdrop-filter: blur(15px);
    transform: translateX(100%);
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1000;
    gap: 10px;
    padding-top: 10%;
    /* border-left: 0.1px solid rgb(109, 109, 109); */
  }
  
  
  .menu-overlay.open {
    transform: translateX(0); /* Выезжает */
  }
  
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .menu-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 1rem 0;
    transition: color 0.3s;
  }
  
  .menu-links a:hover {
    color: #ffd700;
  }
  