:root {
    --main-red-col: #ff0000;
}

.forbidden__container{
    display: block;
    margin : 0 auto;
    margin-top: 5vw;
    width: 50%;
}
.forbidden__image{
    height: 50%;
    width: 50%;
    display: block;
    margin: 0 auto;
}
.forbidden__title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.forbidden__button{
    transition: all 0.6s ease;
    display: block;
    margin : 0 auto;
    margin-top: 10%;
    width: 13vw;
    height: 3vw;
    font-size: 17px;
    font-weight: 700;
    border-radius: 10px;
    border : 0.5px solid var(--main-red-col);
    background-color: #fff;
    span {
        background: linear-gradient(to right, #ff0000, #990000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
    }
}
.forbidden__button:hover{
    scale : 0.95
}
.forbidden__link{
    text-decoration: none;
}

@media (min-width: 2560px) and (max-height: 1480px){
    .forbidden__button{
        width: 10vw;
        font-size: 17px;
        height: 2vw;
        margin-top: 5%;
    } 
}

@media (min-width: 768px) and (max-width: 1024px){
    .forbidden__button{
        width: 17vw;
        font-size: 15px;
    }
}

@media (max-width: 430px){
    .forbidden__container{
        margin-top: 15vw;
    }
    .forbidden__image{
        width: 100%;
        height: 100%;
    }
    .forbidden__button{
        width: 40vw;
        height: 10vw;
        font-size: 15px;
    }
    .forbidden__title{
        font-size: 15px;
    }
}