.result__block{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items : center;
    gap: 20px;
}
.result__block-emoji{
    font-size: 64px;    
}
.result__block-title{
    font-size: 54px;
    margin: 0;
    text-align: center;
}
.result__block-subtitle{
    font-size: 22px;
    margin: 0;
}
.result__block-number{
    margin-top: 30px;
}

.default.appearing {
    opacity: 1;
    transform: scale(1);
  }

  @media (max-width: 430px) {
    .result__block-title{
        font-size: 30px;
    }
    .result__block-subtitle{
        font-size: 20px;
        text-align: center;
    }
  }