.login__block{
    margin: 0 auto;
    width: 55%;
    gap: 30px;
    align-items : center;
    margin-bottom: 110px;
}
.login__block-title{
    font-size: 38px;
    text-align: left;
    margin-left: 29%;
    font-weight: 700;
}

.login__block{
    display: flex;
    flex-direction: column;
}

.input__block{
    display: flex;
    gap: 20px;
}

.input__block:nth-child(2) {
    flex-direction: row-reverse;
}
.input__block:nth-child(1) {
    flex-direction: row;
}

.placeholder{
    text-transform: uppercase;
    background-color: black;
    color: white;
    width: 190px;
    height: 54px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 13px;
    span {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.input{
    font-size: 15px;
    font-weight: 700;
    padding-left: 15px;
    width: 365px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid black;
}

.button{
    cursor: pointer;
    height: 50px;
    width: 75%;
    border-radius: 15px;
    border : 1px solid black;
    background-color: #fff;
    color : black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}

#forgot{
    margin-top: 20px;
    background-color: black;
    color : white;
}

.divider{
    background-color: #ccc;
    height: 1px;
    width: 75%;
}

.divider__container{
    display: flex;
    width: 75%;
    align-items : center;
    gap: 30px;
    font-weight: 700;
}

.google__btn{
    width: 30px;
    height: 30px;
}

.google__container{
    display: flex;
    align-items : center;
    justify-content: center;
    gap: 15px;
}
