:root {
  --main-red-col: #ff0000;
}
.terms__title {
  text-align: center;
  margin-top: 10%;
  background-color: #f6f5f5;
  padding: 1%;
  width: auto;
}

.terms__container {
  border: 1px solid black;
  max-width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 35px;
  padding-bottom: 3%;
  margin-bottom: 5%;
}

.terms-company__name {
  text-align: center;
}

.terms__subtitle {
  margin-left: 3%;
  font-weight: bolder;
  font-size: 20px;
}

.terms__defenition {
  margin-left: 3%;
  font-size: 15px;
  padding-right: 3%;
  margin-top: 30px;
  line-height: 30px;
  font-weight: 500;
  span {
    font-weight: 700;
    font-size: 18px;
  }
}


@media (max-width: 380px) {
  .header__link {
    font-size: 15px;
  }
  .header_links {
    margin-left: 10px;
  }
}
