.container {
    width: 100%;
    height: 100%;
    margin: 0 auto; /* центрирует контейнер */
    padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
    box-sizing: border-box;
  }
  :root {
    --main-red-col: #ff0000;
  }
  * {
    font-family: "Inter", sans-serif;
  }
  
.top__sponsors-title{
    margin-top: 5%;
    font-weight: 1000;
    text-align: center;
    span { 
        color: var(--main-red-col);
    }
    text-transform: uppercase;
}
.sponsors__img{
    display: block;
    margin: 0 auto;
    width: 20%;
}
.sponsor__blocks{
    display: block;
    margin: 0 auto;
}
.sponsor__block{
    display: block;
    margin: 0 auto;
    width: 25%;
    border: 0.5px solid black;
    border-radius : 20px;
    margin-bottom: 5%;
}
.sponsors__title{
    text-align: center;
    text-transform: uppercase;
}
.sponsors__title::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 9%; 
    height: 2px;
    background-color: black;
    margin-top: 4px;
  }
.sponsor__block-name{
    text-align: center;
}
.sponsor__block-comment{
    text-align: center;
}
.dsponsors__name{
    text-align: center;
    margin-top: 5%;
}