# Change .env.example to .env
DB_HOST=localhost
DB_NAME=mk # You should create an mk database in PostgreSQL.
DB_USER=app_user # You can change this to postgres or create a user app_user for greater security. 
DB_PASSWORD= # your postgresql postgres / app_user password
DB_PORT=5432 # You can change it, but it's better to leave it as it is.
ST_DB_HOST=localhost # You can change it, but it's better to leave it as it is.
ST_DB_NAME=mk_storage # You should create an mk_storage database in PostgreSQL.
ST_DB_USER=postgres  # You can change it, but it's better to leave it as it is.
ST_DB_PASSWORD= # your postgresql postgres password
ST_DB_PORT=5432 # You can change it, but it's better to leave it as it is.
JWT_SECRET= # This is the secret key for generating jwt. Come up with your own.
NODE_ENV=production
GOOGLE_API_KEY= # Create your own on https://console.cloud.google.com/. Learn more - https://developers.google.com/youtube/v3/getting-started
IP_INFO_API_KEY= # Actually, it's not necessary; the feature is useless. But, you may create your own API Key on https://ipinfo.io/. After registration you will recieve API Key, put it in here. 
CLIENT_ID= # You can find it at https://console.cloud.google.com/ after you have created a project and connected it to the YouTube API.
CLIENT_SECRET= # You can find it at https://console.cloud.google.com/ after you have created a project and connected it to the YouTube API.
REDIRECT_URI=https://developers.google.com/oauthplayground # Do not touch
REFRESH_TOKEN= # You will need to go to this website: https://developers.google.com/oauthplayground/, then click on the gear icon -> Use your own OAuth credentials -> enter your OAuth credentials from https://console.cloud.google.com/ in the fields -> then find Gmail API v1 in the list on the left -> click on it -> then click on “https://mail.google.com/” -> and get a refresh token. Next, you will need to paste the token you received here.
PARSER_TOKEN= # Come up with a token and place it here if you want to use the parser.
USES_PROMOCODE= # Create your own promocode, if you want.
VITE_KEY= # Create your own vite key.
API_URL= # API URL. Usually, it looks something like this: http://localhost:3000/api. However, you can replace this value. It depends on which port you start the backend on.
WEBSITE_URL= # API URL. Usually, it looks something like this: http://localhost:3000/api. However, you can replace this value. It depends on which port you start the frontend on.
YMoney_API_KEY= # You will need to create a store on Yookassa
SHOP_ID= # shop id from Yookassa
OAUTH2_CLIENT= # https://console.cloud.google.com/
CAPTCHA_SECRET_KEY= # Get started - https://developers.google.com/recaptcha.

