.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
}
* {
  font-family: "Inter", sans-serif;
}

.vote__title {
  margin-left: 4.5%;
  font-size: 50px;
  font-weight: 800;
  span {
    color: var(--main-red-col);
  }
}

.voting__blocks {
  margin-left: 4.5%;
}

.voting__block {
  position: relative;
  width: 80%;
  border: 0.5px solid black;
  border-radius: 20px;
  margin-top: 5%;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.6s ease, padding 0.3s ease;
  padding: 20px;
}

.voting__block-description {
  margin-left: 2%;
  text-align-last: left;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.voting__block:hover {
  max-height: 300px;
  padding-bottom: 40px; /* или сколько тебе нужно */
}

.voting__block:hover .voting__block-description {
  opacity: 1;
  max-height: 200px;
}

.voting__block-title {
  margin-left: 2%;
  text-align-last: left;
  font-weight: 400;
}

.vote__button {
  margin-left: 83.2%;
  bottom: 50%;
  position: absolute;
  width: 15%;
  height: 50%;
  cursor: pointer;
  background-color: black;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  span {
    color: var(--main-red-col);
  }
}

.become__sponsor-title{
  margin-top: 5%;
  text-align: center;
}

.become__sponsor-button{
  transition: all 0.6s ease;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #3ED65A;
  color: white;
  border : none;
  width: 30%;
  height: 50px;
  margin-bottom: 28%;
  border-radius : 10px;
  font-size: 25px;
  font-weight: 700;
}

.become__sponsor-button:hover{
  scale: 0.95;
}

@media (min-width: 2480px) and (max-height: 1024px){
  .vote__button{
    margin-left: 84%;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .vote__button{
    margin-left: 82.5%;
  }
}

@media (min-width: 1900px) and (min-height: 1050px){
  .vote__button{
    margin-left: 83.6%;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .voting__block:nth-child(3){
    margin-bottom: 23%;
  }
  .vote__button{
    margin-left: 81.3%;
  }
}

@media (max-width: 430px){
  .voting__block-title{
    font-size: 15px;
  }
  .vote__button{
    margin-left: 71%;
    width: 25%;
  }
}

@media (max-width: 375px){
  .voting__block-title{
    font-size: 14px;
  }
}