:root {
  --main-red-col: #ff0000;
}
.payment__title {
  text-align: center;
  margin-top: 10%;
  font-weight: 300;
}
.payment__img {
  display: block;
  margin: 0 auto;
}
.payment__to-main {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  span {
    color: var(--main-red-col);
  }
  margin-bottom: 45%;
}
