
.start__section {
  position: relative; /* нужно для абсолютного SVG */
  background-color: black;
  padding-left: 3rem;
  height: 550px;
  padding-top: 200px;
  /* display: flex;
  gap: 220px; */
  overflow: hidden; /* обрезаем хвосты волн */
}

.start__section-flex {
  display: flex;
  gap: 220px;
}
.moving__in-class_initial-state{
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(-40px);
}
.moving__in-class_initial-state.moving__in-class{
  opacity: 1;
  transform: translateY(0px);
}
.start__section-text {
  margin: 0;
  font-size: 50px;
  color: white;
  max-width: 300px;
}

.start__section-text,
.start__section-blocks_flex {
  position: relative;
  z-index: 2;
}

.start__section-text span {
  color: transparent;
  -webkit-text-stroke: 1px white; /* обводка */
}

.start__section-blocks_flex {
  display: flex;
  gap: 20px;
}

.start__section-block {
  transition: transform 0.6s ease;
  height: 238px;
  width: 238px;
  border: 0.5px solid white;
  background-color: black;
  border-radius: 38px;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: relative;
  z-index: 2; /* чтобы были поверх волн */
}

#start-2__section-block{
  transition: transform 1s ease;
}

#start-3__section-block{
  transition: transform 1.4s ease;
}

/* Волны */
.waves {
  position: absolute;
  inset: 0;
  z-index: 0; /* ниже текста и блоков */
  pointer-events: none;
}

/* стиль самих линий */
.wave-path {
  fill: none;
  stroke: url(#waveGradient);
  stroke-width: 1.2;
  opacity: 0.7;
}

.waves.mirror-x {
  transform: scaleX(-1);
  right: 0; /* можно прижать к другой стороне */
}

/* зеркалка по вертикали (отразить по Y) */
.waves.mirror-y {
  transform: scaleY(-1);
}

.wave-path {
  fill: none;
  stroke: url(#waveGradient);
  stroke-width: 1.2;
  opacity: 0.7;
  transform-origin: center;
}

/* Анимация для каждой волны */
@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* Сдвиг вправо */
  }
  100% {
    transform: translateX(0); /* Возврат в исходное положение */
  }
}

/* Применение анимации с задержкой для цепной реакции */
.wave-1 {
  animation: waveAnimation 4s ease-in-out infinite;
  animation-delay: 0s;
}

.wave-2 {
  animation: waveAnimation 4s ease-in-out infinite;
  animation-delay: 0.2s;
}

.wave-3 {
  animation: waveAnimation 4s ease-in-out infinite;
  animation-delay: 0.4s;
}

.wave-4 {
  animation: waveAnimation 4s ease-in-out infinite;
  animation-delay: 0.6s;
}

.wave-5 {
  animation: waveAnimation 4s ease-in-out infinite;
  animation-delay: 0.8s;
}

.wave-6 {
  animation: waveAnimation 4s ease-in-out infinite;
  animation-delay: 1s;
}
.filter__section{
  margin-top: 100px;
}

.filter__section-line_flex{
  display: flex;
  margin: 0 auto;
  width: fit-content;
  align-items : center;
  justify-content: center;
  overflow: hidden;
}
.filter__section-line{
  border : 0.5px solid black;
  width: 845px;
  height: 100px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.filter__section-text{
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
.filter__section-subtext{
  font-size: 30px;
  white-space: nowrap;
}
.filterSectionGlassEffectImg{
  width: 100%;
}
.filter__line-text{
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}
#first__line-text{
  margin-top: 80px;
}
.filter__line{
  background-color: black;
  overflow: hidden;
}
.filter__line-white{
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  overflow: hidden;
  .filter__line-subtext{
    color: black;
  }
}
.filter__line-flex {
  overflow: hidden;
  width: 100%;
}
.filter__line-subtext{
  color : white;
  font-size: 20px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 35px;
}
.filterSectionTargetAudienceGlassFilterImg{
  width: 100%;
  height: 110px;
}

.purchase__section-title{
  font-size: 44px;
  margin-left: 40px;
  margin-top: 80px;
}

.purchase__exchange-flex{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 20px;
}

.purchase__exchange-coin{
  width: 142px;
  height: 142px;
}

.purchase__exchange-arrow{
  width: 105px;
  height: 29px;
}

.purchase__exchange-usecoin{
  width: 97px;
  height: 97px;
}

#main__page{
  flex-direction: row;
  overflow-x: scroll;
  white-space: nowrap;
  width: 100%;
  padding-left: 3rem;
  scroll-behavior: smooth;
  scroll-snap-type : x mandatory;
  .package__card.item.animate-in{
    flex: 0 0 700px;
  }
  .package__card{
    min-width: 700px;
  }
  justify-content: normal;
}
#main__page::-webkit-scrollbar {
  display: none;
}

.purchase__section-last_flex{
  display: flex;
  align-items: center;
}

.purchase__section-last_text{
  font-size: 34px;
  margin-left: 40px;
}

.purchase__section-last_img{
  width: 257px;
  height: 175px;
}

.promotion__section{
  margin-top: 150px;
}
.promotion__section-line{
  background-color: black;
}
.promotion__line-text{
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#promotion-input__main_page{
  margin-top: 70px;
}

.start__section-block.moving__in{
  transform: translateY(0px);
}
