:root {
  --main-red-col: #ff0000;
}

.feedback__modal-block {
  transition: all 0.6s ease;
  position: relative;
  margin-left: 30%;
  width: 40%;
  height: 35%;
  border: 1px solid black;
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
}

.feedback__modal-block.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition-delay: 0s;
}

.feedback__block-title {
  font-size: 20px;
  width: 70%;
  margin-left: 10%;
  margin-top: 4%;
  font-weight: 500;
  span {
    font-weight: 700;
    span {
        color: var(--main-red-col);
    }
  }
}

.feedback__marks-block{
    display: flex;
    gap: 50px;
    margin-left: 10%;
}

.feedback-mark {
    transition: all 0.6s ease;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;
    border: 0.5px solid transparent; /* Делаем границу прозрачной, чтобы можно было менять её цвет */
}

#one {
    color: #AD3636;
}

.oneactive {
    border-color: #AD3636; /* Цвет границы для первой кнопки */
}

#two {
    color: #DD6E1E;
}

.twoactive {
    border-color: #AD3636; /* Цвет границы для второй кнопки */
}

.threeactive {
    border-color: #000000; /* Цвет границы для второй кнопки */
}

#four {
    color: #7DEB73;
}

.fouractive {
    border-color: #7DEB73; /* Цвет границы для четвертой кнопки */
}

#five {
    color: #13A001;
}

.fiveactive {
    border-color: #13A001; /* Цвет границы для пятой кнопки */
}


.feedback-mark:hover{
    transform: scale(0.95) ;
}

.feedback__modal-input {
    padding: 20px 25px; /* Отступы сверху и слева */
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    width: 67%;
    height: 90px;
    border-radius: 25px;
    border: 0.5px solid black;
    font-size: 15px;
    text-align: left;
    resize: none;
    overflow: hidden;
}

.feedback__modal-input::placeholder {
    word-wrap: break-word; /* Перенос слов */
    white-space: pre-line; /* Разрешает перенос строк */
    color: gray;
    opacity: 0.7;
    width: 50%;
}


#submit{
    transition: all 0.6s ease;
    position: absolute;
    top: 77.5%;
    left: 89%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    img{
        padding-top: 5px;
        height: 25px;
        width: 25px;
    }
}

#submit:hover{
    transform: scale(0.95);
}

@media (max-width: 430px) and (max-height: 920px) {
    .feedback__modal-block{
        margin-left: 5%;
        width: 80%;
    }
    .feedback__marks-block{
        gap: 10px;
    }
    #submit{
        top: 77.5%;
        left: 75%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .feedback__modal-block{
        margin-left: 5%;
        width: 80%;
    } 
}
@media (min-width: 2480px) and (max-height: 1024px) {
    .feedback__modal-block{
        margin-left: 29%;
    } 
    .feedback__block-title{
        font-size: 30px;
    }
    .feedback-mark{
        font-size: 25px;
    }
    .feedback__modal-input{
        font-size: 20px;
    }
    #submit{
        top: 73%;
        left: 85%;
        width: 60px;
        height: 60px; 
        img{
            height: 40px;
            width: 40px;
        }  
    }
}

@media (min-width: 1900px) and (min-height: 1050px) {
    .feedback__block-title{
        font-size: 25px;
    }
    .feedback-mark{
        font-size: 20px;
    }
    .feedback__modal-input{
        font-size: 18px;
    }
    #submit{
        top: 75%;
        left: 88%;
        width: 50px;
        height: 50px; 
        img{
            height: 30px;
            width: 30px;
        }  
    }
}