.title__purchase {
  font-size: 70px;
  text-transform: uppercase;
  margin-left: 25.5%;
  transition: all 0.6s;
  margin-bottom: 0;
  margin-top: 75px;
  max-width: 590px;
}
.title__purchase.active {
  span {
    transition: all 0.6s;
    color: var(--main-red-col);
  }
}

.package {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  justify-content: center;    
  overflow-y: auto;
  white-space: nowrap;   
  scroll-behavior: smooth;
}

.package__card {
  transition: all 0.4s ease;
  transform: translateY(40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 35px;
  padding: 2rem;
  width: 700px;
  box-sizing: border-box;
  flex-wrap: wrap; /* на всякий случай для адаптации */
  height: 400px;
}

.package__card.appearing{
  transform: translateY(0px);
}

.package__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 240px;
  max-width: 50%;
  height: 103%;
}

.package__title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 25px;
}

.package__subtitle {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
}

.package__button {
  align-self: flex-start;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  width: 210px;
  height: 79px;
}

.package__img {
  margin-top: 20px;
  width: 290px;
  height: 310px;
  height: auto;
  object-fit: contain;
}

.burst {
  animation: bubble-pop 0.5s ease forwards;
}

@keyframes bubble-pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.75;
  }
  70% {
    transform: scale(0.9);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}