:root {
  --main-grey-colour: rgba(0, 0, 0, 0.66);
}
.title__purchase {
  font-size: 70px;
  text-transform: uppercase;
  margin-left: 25.5%;
  transition: all 0.6s;
  margin-bottom: 0;
  margin-top: 75px;
  max-width: 590px;
}
.title__purchase.active {
  span {
    transition: all 0.6s;
    color: var(--main-red-col);
  }
}

.package {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  justify-content: center;
}

.package__card {
  transition: all 0.4s ease;
  transform: translateY(40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 35px;
  padding: 2rem;
  width: 700px;
  box-sizing: border-box;
  flex-wrap: wrap; /* на всякий случай для адаптации */
  height: 400px;
}

.package__card.appearing {
  transform: translateY(0px);
}

.package__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 240px;
  width: 50%;
  height: 103%;
}

.package__title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.package__littletitle {
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateX(-40px);
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 600;
}

.package__study-offer {
  opacity: 0;
  transition: all 0.6s ease;
  transform: translateX(-40px);
  font-weight: 500;
  margin-top: 20px;
  color: var(--main-grey-colour);
}

.package__text {
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateX(-40px);
  width: 250px;
  margin: 0;
  margin-top: 10px;
  color: var(--main-grey-colour);
}

.moving__in {
  opacity: 1;
  transform: translateX(0);
}

.moving__out {
  opacity: 0;
  transform: translateX(-40px);
}

.loading__img {
  width: 40px;
  height: 40px;
}

.package__subtitle {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
}

.package__button {
  align-self: flex-start;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  width: 210px;
  height: 79px;
}

.package__img {
  margin-top: 20px;
  width: 290px;
  height: 310px;
  height: auto;
  object-fit: contain;
}

.package__button.fancy-button {
  width: 210px;
  height: 79px;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 20px;
}

#title-expanded {
  margin-bottom: 10px;
}

@media (max-width: 430px) {
  .package {
    gap: 30px;
  }
  .title__purchase {
    font-size: 32px;
    margin-left: 50px;
    margin-top: 55px;
  }
  .package__text {
    font-size: 12px;
    width: 150px;
    word-break: break-all;
    margin-bottom: 10px;
  }
  .package__study-offer {
    font-size: 9px;
    margin: 0;
  }
  .package__card {
    transition: max-height 0.4s ease;
    width: 318px;
    height: auto;
    /* max-height: 254px; */
    border-radius: 25px;
    padding: 0;
    padding-top: 30px;
    padding-left: 18px;
    padding-bottom: 9px;
    padding-right: 26px;
  }
  .package__title {
    font-size: 30px;
    margin: 0;
  }
  .package__info {
    width: 98px;
    height: auto;
  }
  .package__subtitle {
    font-size: 9px;
    margin-top: 16px;
  }
  .package__button {
    width: 98px;
    height: 36px;
    font-size: 10px;
    border-radius: 12px;
    padding: 0;
    margin-top: 34px;
  }
  .package__littletitle {
    font-size: 20px;
  }
  .package__button.fancy-button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 98px;
    height: 36px;
    font-size: 10px;
    border-radius: 12px;
    border: 1px solid black;
  }
  .package__img {
    width: 113px;
    height: 120px;
  }
}
