:root{
  --main-grey-colour : rgba(0,0,0,0.66)
}
.title__purchase {
  font-size: 70px;
  text-transform: uppercase;
  margin-left: 25.5%;
  transition: all 0.6s;
  margin-bottom: 0;
  margin-top: 75px;
  max-width: 590px;
}
.title__purchase.active {
  span {
    transition: all 0.6s;
    color: var(--main-red-col);
  }
}

.package {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  justify-content: center;
}

.package__card {
  transition: all 0.4s ease;
  transform: translateY(40px);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 35px;
  padding: 2rem;
  width: 700px;
  box-sizing: border-box;
  flex-wrap: wrap; /* на всякий случай для адаптации */
  height: 400px;
}

.package__card.appearing{
  transform: translateY(0px);
}

.package__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  min-width: 240px;
  max-width: 50%;
  height: 103%;
}

.package__title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.package__littletitle{
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateX(-40px);
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0;
  font-weight: 600;
}

.package__study-offer{
  opacity: 0;
  transition: all 0.6s ease;
  transform: translateX(-40px);
  font-weight: 500;
  margin-top: 20px;
  color: var(--main-grey-colour);
}

.package__text{
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateX(-40px);
  width: 250px;
  margin: 0;
  margin-top: 10px;
  color: var(--main-grey-colour);
}

.moving__in{
  opacity: 1;
  transform: translateX(0);
}

.moving__out{
  opacity: 0;
  transform: translateX(-40px);
}

.loading__img{
  width: 40px;
  height: 40px;
}

.package__subtitle {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
}

.package__button {
  align-self: flex-start;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  width: 210px;
  height: 79px;
}

.package__img {
  margin-top: 20px;
  width: 290px;
  height: 310px;
  height: auto;
  object-fit: contain;
}

.package__button.fancy-button {
  width: 210px;
  height: 79px;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 20px;
}

#title-expanded{
  margin-bottom: 10px;
}