.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
  --main-padding-left: 15%;
}
* {
  font-family: "Inter", sans-serif;
}

.first__block {
  border-top: 1px solid white;
  background-color: black;
  display: block;
  margin: 0 auto;
  .block-title {
    margin-left: 4.2vw;
    margin-top: 3vw;
  }
  .first__block-text {
    margin-left: 4.2vw;
    margin-top: 2vw;
  }
  .block-button {
    margin-left: 4.3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

.ul__title {
  color: white;
  margin-left: 4.3vw;
}

.ul__flex {
  display: flex;
  margin-left: 4.3vw;
  align-items: center;
}

.ul__subtitle {
  font-weight: 400;
  margin-left: 1vw;
  color: white;
}

.ul__elipse {
  width: 15px;
  height: 15px;
}

.second__block {
  display: block;
  margin: 0 auto;
  margin-top: 10vw;
  width: 60%;
  .block-title {
    color: black;
  }
  .youtuber__block {
    margin-top: 5vw;
    width: 75%;
    margin-left: 0;
    .youtuber__name {
      margin-left: 3vw;
      margin-top: 3vw;
    }
    .youtuber__information {
      margin-left: 3vw;
    }
    .youtuber__info {
      font-weight: 300;
    }
  }
  .youtuber__button {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.third__block {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 7vw;
}

.fourth__block {
  width: 55%;
  display: block;
  margin: 0 auto;
  .youtuber__block {
    margin-top: 5vw;
    width: 100%;
    margin-left: 0;
    .youtuber__name {
      margin-left: 2.5vw;
      margin-top: 4vw;
    }
    .youtuber__information {
      margin-left: 2.5vw;
    }
  }
  .youtuber__button {
    margin-left: 0vw;
    margin-top: 3vw;
  }
  .youtuber__image {
    left: 48%;
    height: 302px;
  }
  .block-title {
    color: black;
  }
  .recent__block {
    width: 100%;
    margin-left: 0;
    margin-top: 3vw;
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .block-text {
    margin-top: 5vw;
    font-size: 20px;
    width: 70%;
    margin-left: 18vw;
  }
  .recent-block__thumbnail {
    width: 302px;
    height: 252px;
    top: -1px;
    left: 492px;
  }
}

.fifth__block {
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-top: 20vw;
  .block-title {
    color: black;
    text-align: right;
  }
  .search-suggested__block {
    margin-left: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.4);
    .suggested-block__name {
      margin-top: 4vw;
    }
  }
  .suggested-block__img {
    margin-left: 39.5vw;
    margin-top: -6.9vw;
    border: none;
    height: 155px;
  }
  .block-text {
    margin-top: 3vw;
    font-size: 23px;
  }
}

#fifth__block-text {
  margin-top: 5vw;
}

.sixth__block {
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-top: 15vw;
  .packages__block {
    display: flex;
    gap: 1vw;
    .package__usages {
      font-size: 15px;
      font-weight: 500;
    }
    .package__newprice {
      margin-top: 11vw;
      margin-left: 2vw;
      font-weight: 500;
    }
  }
  .packages-light__package {
    border: 0.5px solid black;
    height: 23vw;
    transition: transform 0.6s ease;
  }
  .packages-light__package:hover {
    transform: scale(0.9);
  }
  .block-button {
    margin-top: 5vw;
    margin-left: 21vw;
  }
  .block-title {
    color: black;
  }
}

.seventh__block {
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-top: 10vw;
  .block-title {
    color: black;
    span {
      background: linear-gradient(to right, #ff0000, #b80909);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .block-text {
    font-size: 21px;
    line-height: 2vw;
  }
  .youtuber__block {
    margin-top: 5vw;
    width: 75%;
    margin-left: 0;
    .youtuber__name {
      margin-left: 3vw;
      margin-top: 3vw;
    }
    .youtuber__information {
      margin-left: 3vw;
    }
    .youtuber__info {
      font-weight: 300;
    }
    .youtuber__image {
      left: 70%;
      border: 1px solid rgba(0, 0, 0, 0);
    }
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0);
  }
  .success {
    width: 70%;
    margin-left: -2vw;
    border-color: rgb(98, 230, 135);
    scale: 0.9;
    font-size: 20px;
    font-weight: 500;
  }
  .block-button {
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: 20vw;
  }
}

#seventh__block-second-text {
  text-align: right;
  margin-top: 0;
}

.block-title {
  font-size: 30px;
  margin-top: 0;
  color: #fff;
  span {
    background: linear-gradient(to right, #990000, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.first__block-text {
  margin-top: 4%;
  color: white;
}

.block-text {
  span {
    background: linear-gradient(to right, #ff0000, #990000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.block-button {
  transition: transform 0.6s ease;
  margin-top: 1vw;
  width: 13vw;
  height: 3vw;
  font-size: 18px;
  font-weight: 900;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #ff0000, #990000);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.block-button:hover {
  transition: all 0.6 ease;
  transform: scale(0.95);
}

#main__page-search {
  margin-left: 0;
  width: 50vw;
  margin: 0;
  background-color: #fff;
}

#main__page-buttons {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  .search__filters {
    margin-top: 0;
  }
  .search__glass {
    margin-top: 0;
    margin-left: 0;
  }
  margin-left: -8vw;
  margin-top: -0.7%;
}

.input__flex {
  margin-top: 2vw;
  display: flex;
  align-items: center;
}

#second__block-text {
  margin-left: 30vw;
  margin-top: 3vw;
  max-width: 400px;
}

#second__block-button {
  margin-left: 42vw;
  font-weight: 900;
  background: #fff;
  border: 0.5px solid var(--main-red-col);
  span {
    background: linear-gradient(to right, #ff0000, #990000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#third__block-title {
  line-height: 3vw;
  color: black;
  margin-left: 20vw;
  span {
    background: linear-gradient(to right, #ff0000, #bf0f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.third__block-flex {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 3vw;
}

.third__block-flex-block {
  border: 0.5px solid black;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.third__block-flex-text {
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 15px;
  font-weight: 100px;
  margin-left: 20vw;
  span {
    color: var(--main-red-col);
  }
}

.expanded__filters-wrapper {
  overflow: hidden;
  width: 0;
  transition: width 0.6s ease;
}

.expanded__filters-wrapper.active {
  width: 55vw;
}

.expanded__filters-flex {
  display: flex;
  gap: 4vw;
  margin-left: 5vw;
  white-space: nowrap;
}

.expanded__filters-flex.active {
  transform: scaleX(1);
}

.third__block-flex-img {
  width: 8px;
  height: 12px;
  cursor: pointer;
}
.third__block-flex-img.active {
  rotate: 180deg;
}

.expanded-filters-text {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 300;
  span {
    font-weight: 500;
  }
}

#third__block-button {
  margin-left: 20vw;
  margin-top: 5vw;
  background: white;
  color: black;
  border: 0.5px solid black;
}

.fourth__block {
  margin-top: 10vw;
}

#fourth__block-title {
  span {
    background: linear-gradient(to right, #ff0000, #bf0f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.likes__and__views-flex {
  margin-left: 4vw;
  display: flex;
  align-items: center;
  margin-top: -4vw;
  .suggested-block__views {
    margin-left: 0;
  }
  .suggested-block__likes {
    margin-left: 0;
  }
}
