
.recent__block.unactive {
  opacity: 0; /* Для плавного появления */
  transition: max-height 0.3s ease, opacity 0.3s ease;
  max-height: 0px;
  border: 1px solid black;
}

.recent-block__thumbnail {
  border-radius: 30px;
  position: absolute;
  width: 300px;
  height: 250px;
  left: 407px;
  top: -0.2px;
}

.title {
  font-size: 60px;
  margin-left: 3%;
  text-transform: uppercase;
  transition: all 0.6s;
  width: 50%;
  margin-top: 4%;
  margin-bottom: 3%;
}
.title.active {
  span {
    color: var(--main-red-col);
    transition: all 0.6s;
  }
}

.recent-block__email {
  margin-left: 7%;
  span {
    color: var(--main-red-col);
  }
}

.recent-block__bin {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: none;
  margin-top: 3%;
  margin-left: 4%;
  img {
    width: inherit;
    height: inherit;
  }
  cursor: pointer;
}

.no_available {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

.no__purchases-thumbnail{
  width: 50%;
  display: block;
  margin: 0 auto;
  max-height:380px;
}

.purchases__flex-container{
  display: flex;
  gap: 30px;
  margin-left: 2%;
  margin-bottom: 5%;
}

.scroll-container {
  overflow-x: auto;         
  overflow-y: hidden;
  max-width: 100%;          
  white-space: nowrap;    
  padding: 10px;
  scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.purchase__channelname{
  margin: 0;
  font-weight: 500;
  font-size: 25px;
  word-break: break-word;
}

.purchase__email{
  font-weight: 500;
  font-size: 18px;
}

.purchase__block{
  border : 1px solid black;
  min-width: 360px;
  border-radius: 18px;
  height: fit-content;
  padding: 0;
}

.purchase__channelthumbnail{
  display: block;
  width: 100%;
  border-radius: 17px;
  height: 360px;
}

.remove__btn{
  width: 37px;
  height: 37px;
  cursor: pointer;
  margin-left: auto;
  padding-right: 15px;
  transform-origin: center center;
}

.remove__btn:hover {
  animation: shake 0.6s infinite ease-in-out;
}

.purchase__block-subflex{
  display: flex;
  align-items: start;
  padding-top: 10%;
  margin-bottom: 5%;
  padding-left: 20px;
}

.name_and_email__flex{
  display: flex;
  /* gap: 20px; */
  flex-direction: column;
  width: 342px;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}

@media (min-width: 1900px) and (min-height: 1050px)
 {
  
}

@media (min-width: 2500px) and (max-height: 1480px)
 {
  
 } 
@media (min-width: 768px) and (max-width: 1024px)
 {
 
}
@media (max-width: 430px) and (max-height: 920px) {

}
