.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px; 
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
}
.payment__title {
  text-align: center;
  margin-top: 10%;
  font-weight: 300;
}
.payment__img {
  display: block;
  margin: 0 auto;
}
.payment__to-main {
  margin-left: 45.2%;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: black;
  span {
    color: var(--main-red-col);
  }
}
