.top__part-first_block{
    display: flex;
    gap: 20px;
    width: 925px;
    margin: 0 auto;
    margin-top: 5%;
}
.first__block-back_to-promotion--button{
    width: 117px;
    height: 77px;
    padding: 0;
    border: none;
    cursor: pointer;
}
.back_to-promotion--button{
    width: inherit;
    height: inherit;
}
.first__block-thumbnail{
    width: 567px;
    height: 292px;
}
.first__block-title{
    align-self: flex-end;
    margin: 0;
    max-width: 200px;
    font-size: 20px;
}

.information__block-flex{
    position: relative;
    width: fit-content;
    display: flex;
    margin: 0 auto;
    gap: 60px;
    margin-top: 30px;
}