.header__links {
  margin-left: 20px;
  display: flex;
  margin-top: -25px;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

.logo {
  margin-top: -10px; /* Увеличь значение, если нужно больше места сверху */
  margin-left: 60px;
  font-size: 30px;
  max-width: 150px;
  cursor: pointer;
  transition: all 0.6s ease;
}
.logo span {
  color: #000000;
}

.logo:hover {
  span {
    color: var(--main-red-col);
  }
}

.terms__title {
  text-align: center;
  margin-top: 10%;
  background-color: #e7e3e3;
  padding: 1%;
  width: auto;
}

.terms__container {
  border: 1px solid black;
  max-width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 35px;
  padding-bottom: 3%;
}

.terms-company__name {
  text-align: center;
}

.terms__subtitle {
  margin-left: 3%;
}

.terms__defenition {
  margin-left: 3%;
  font-size: 20px;
  padding-right: 3%;
  margin-top: 30px;
  line-height: 30px;
  span {
    font-weight: 700;
  }
}

.footer__container {
  margin-top: 7%;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  &:nth-child(1) {
    padding-left: 105px;
  }
}

.footer__logo {
  font-weight: 600;
  font-size: 20px;
}

.footer__terms {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  /* margin-top: 1.3%; */
}

.footer__purpose {
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  margin-top: 1.3%;
}

.footer__button {
  border: 1px solid #000;
  border-radius: 11px;
  background-color: #fff;
  font-size: 20px;
  cursor: pointer;

  width: 232px;
  height: 31px;
  margin-top: 15px;
  margin-right: 30px;
}

@media (min-width: 3840px) and (max-width: 3840px) and (min-height: 2160px) and (max-height: 2160px) {
  .container {
    max-width: 3800px; /* Пример */
  }

  .search__main{
    width: 50%;
  }
  .logo{
    font-size: 50px;
    margin-top: 15px;
  }
  .header__links{
    margin-top: -60px;
  }
}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
 .header__links{
  margin-left: 0px;
  width: 50%;
  margin-left: 35%;
 }
 .logo{
  margin-left: 10px;
 }
}
@media (max-width: 430px) and (max-height: 920px) {
  .logo{
    font-size: 20px;
    margin-left: 0;
    span{
      color: var(--main-red-col);
    }
  }
  .header__link{
    margin-right: 0px;
    font-size: 13px;
    margin-right: 15px;
  }
  .header__links{
    margin-left: 30%;
    margin-top: -18px;
  }
}


