

.terms__title {
  text-align: center;
  margin-top: 10%;
  background-color: #F6F5F5;
  padding: 1%;
  width: auto;
  font-size: 20px;
}

.terms__container {
  border: 1px solid black;
  max-width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 35px;
  padding-bottom: 3%;
}

.terms-company__name {
  text-align: center;
}

.terms__subtitle {
  margin-left: 3%;
}

.terms__defenition {
  margin-left: 3%;
  font-size: 15px;
  padding-right: 3%;
  margin-top: 30px;
  line-height: 30px;
  span {
    font-weight: 700;
  }
}





