.modal {
  background-color: #fff;
  position: absolute;
  left: 35%;
  top: 50%;
  transition: all 0.6s ease;
  display: none;
}

:root{
  --main-red-col: #FF0000;
}

.active {
  display: block;
}
/* Полупрозрачная подложка */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный серый фон */
  display: flex; /* Центрируем модалку */
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: scale(0.9);
  /* Поверх всего */
}

.modal__overlay.open {
  opacity: 1;
  transform: scale(1);
}

/* Модальное окно */
.modal__block {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 400px;
  height: auto;
  border-radius: 10px;
  z-index: 1001; /* Модалка поверх подложки */
}

.modal__title {
  margin-top: 0;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

.modal__input {
  border: none;
  background-color: #eceaea;
  width: 270px;
  height: 40px;
  margin-left: 12%;
  padding-left: 33px;
  font-size: 16px;
  margin-bottom: 15px;
}



.modal__button {
  transition: all 0.6s ease;
  /* border-radius: 40px; */
  width: 304px;
  height: 55px;
  background-color: #d6553e;
  border: none;
  color: white;
  font-size: 18px;

  margin-left: 12.5%;
  margin-top: 25px;
}

.modal__button:hover{
  transform: scale(0.98);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-15px);
  }
  20% {
    transform: translateX(30px);
  }
  30% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(15px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.shake-animation {
  animation: shake 1.6s;
}

.modal__checkbox {
  position: absolute;
  left: -320px;
  top: 183px;
  appearance: none; /* Убираем стандартный стиль чекбокса */
  width: 17px;
  height: 17px;
  border: 2px solid #000;
  border-radius: 20%; /* Делаем чекбокс круглым */
  background-color: #fff;
  cursor: pointer;
  position: relative; /* Для псевдоэлемента */
}

.modal__checkbox:checked::after {
  content: ""; /* Добавляем псевдоэлемент */
  position: absolute;
  top: -2px;
  left: 3px;
  width: 3px;
  height: 10px;
  border: solid #d6553e; /* Цвет галочки */
  border-width: 0 4px 4px 0;
  transform: rotate(45deg); /* Поворачиваем, чтобы создать галочку */
}

.modal-checkbox__text {
  margin-top: 7%;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-left: 15%;
  width: 70%;
}

.modal-other__title {
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}
.modal-other__button {
  position: relative;
  margin-top: 0;
  margin-left: 40%;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.text {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.text.hidden {
  opacity: 0;
}
.modal-other__button::before {
  content: "";
  display: block;
  width: 110%; /* Подчеркивание будет по ширине текста */
  height: 1px; /* Толщина линии */
  background-color: #000; /* Цвет линии */
  position: absolute;
  bottom: -3px; /* Сдвиг под текст */
  left: 0;
}

.modal-continue__buttons {
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-continue__button {
  position: relative;
  max-width: 300px;
  min-height: 70px;
  border: none;
  background-color: white;
  a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-left: -200px;
    padding-top: 5px;
  }
}

.modal-continue__text {
  position: absolute;
  top: 25px;
  left: 85px;
}

.placeholder__fail::placeholder {
  color: red;
}

.modal__close {
  margin-left: 87%;
  background-color: rgba(0, 0, 0, 0.01);
  color: rgb(0, 0, 0);
  border: none;
  font-size: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.modal__close-img{
  width: inherit;
  height: inherit;
}
.captcha {
  margin-left: 13%;
  margin-top: 5%;
}
.modal__forgot-password{
  cursor: pointer;
  transition: all 0.6s ease;
  color : black;
  display: block;
  text-decoration: none;
  margin-left: 30%;
  margin-top: 10%;
  opacity: 0;
  span{
    transition: all 0.6s;
  }
}
.show{
  opacity: 1;
}
.modal__forgot-password:hover{
  span {
    color: #d6553e;
  }
}

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .modal__close {
    left: 1250px;
    top: 280px;
  }
  .modal__title {
    font-size: 40px;
  }
  .modal__input {
    width: 290px;
    height: 40px;
    margin-left: 10%;
    font-size: 22px;
  } 
  .modal__button{
    font-size: 25px;
  }
  .modal-checkbox__text{
    font-size: 20px;
  }
  .modal__checkbox{
    top: 193px;
  }
}

@media (min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
  .modal__close {
    left: 1000px;
    top: 220px;
  }
  .modal__title {
    font-size: 40px;
  }
  .modal__input {
    width: 290px;
    height: 40px;
    margin-left: 10%;
    font-size: 22px;
  } 
  .modal__button{
    font-size: 25px;
  }
  .modal-checkbox__text{
    font-size: 20px;
  }
  .modal__checkbox{
    top: 193px;
  }
}

@media (min-width: 2480px) and (max-height: 1024px) {
  .modal__title{
    font-size: 45px;
  }
  .modal__input{
    width: 270px;
    height: 40px;
    font-size: 23px;
  }
  .modal__button{
    font-size: 27px;
  }
  .modal__close{
    left: 1600px;
    top: 450px;
  }
  .modal-checkbox__text{
    font-size: 25px;
  }
  .modal__checkbox {
    left: -320px;
    top: 183px;
    appearance: none; /* Убираем стандартный стиль чекбокса */
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    border-radius: 20%; /* Делаем чекбокс круглым */
    background-color: #fff;
    cursor: pointer;
    position: relative; /* Для псевдоэлемента */
  }
  .modal__checkbox:checked::after {
    width: 14px;
    height: 12px; 
    top: -2px;
    left: 2px;
  }
}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  .modal__close{
    left: 650px;
    top: 250px;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  .modal__block{
    width: 250px;
    height: auto;
  }
  .modal__input{
    width: 80%;
    margin-left: 5%;
  }
  .modal__button{
    margin-left: 5%;
    width: 230px;
    height: 60px;
  }
  .modal-continue__button{
    margin-left: -5%;
  }
  .modal__close{
    margin-left: 80%;
  }
  .modal-other__button{
    margin-top: 10px;
  }
  .captcha {
    margin-left: -4%;
    margin-top: 5%;
    max-width: 40%;
    transform: scale(0.85);
  }
  .modal__checkbox{
    left: 5px;
    top: 147px;
    width: 17px;
    height: 17px;
  }
  .modal__checkbox:checked::after {
    top: -2px;
    left: -1px;
    width: 10px;
    height: 8px;
  }
  .modal__forgot-password{
    margin-left: 20%;
  }
}
