.modal{
  background-color: #fff;
  position: absolute;
  left: 35%;
  top: 50%;
  transition: all 0.6s ease;
  display: none;
}

.active{
    display: block;
}
/* Полупрозрачная подложка */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный серый фон */
  display: flex; /* Центрируем модалку */
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  transform: scale(0.9);
  /* Поверх всего */
}

.modal__overlay.open {
  opacity: 1;
  transform: scale(1);
}


/* Модальное окно */
.modal__block {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 400px;
  height: auto;
  border-radius: 10px;
  z-index: 1001; /* Модалка поверх подложки */
}

.modal__title{
  font-size: 30px;
  text-align: center;
}

.modal__input{
  border: 2px solid #000;
  border-radius: 10px;
  width: 270px;
  height: 40px;
  margin-left: 12%;
  padding-left: 33px;
  font-size: 18px;
  margin-bottom: 15px;
}

/* .fail{
  background-color: red;
} */

.modal__button{
  border-radius: 16px;
  width: 300px;
  height: 60px;
  background-color: #3ED65A;
  border: none;
  color: white;
  font-size: 20px;

  margin-left: 13%;
  margin-top: 25px;
}


@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-15px); }
  20% { transform: translateX(30px); }
  30% { transform: translateX(-15px); }
  40% { transform: translateX(15px); }
  50% { transform: translateX(0); }
  100% { transform: translateX(0); }
}

.shake-animation {
  animation: shake 1.6s;
}

.modal__checkbox {
  position: absolute;
  left: -370px;
  top: 170px;
  appearance: none; /* Убираем стандартный стиль чекбокса */
  width: 22px;
  height: 22px;
  border: 2px solid #000;
  border-radius: 20%; /* Делаем чекбокс круглым */
  background-color: #fff;
  cursor: pointer;
  position: relative; /* Для псевдоэлемента */
}


.modal__checkbox:checked::after {
  content: ''; /* Добавляем псевдоэлемент */
  position: absolute;
  top: -1px;
  left: 4px;
  width: 6px;
  height: 12px;
  border: solid #4CAF50; /* Цвет галочки */
  border-width: 0 4px 4px 0;
  transform: rotate(45deg); /* Поворачиваем, чтобы создать галочку */
}

.modal-checkbox__text{
  margin-top: 7%;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.modal-other__title{
  text-align: center;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight:400;
}
.modal-other__button{
  position: relative;
  margin-top: 0;
  margin-left: 40%;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.text {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.text.hidden {
  opacity: 0;
}
.modal-other__button::before{
  content: '';
  display: block;
  width: 110%; /* Подчеркивание будет по ширине текста */
  height: 1px; /* Толщина линии */
  background-color: #000; /* Цвет линии */
  position: absolute;
  bottom: -3px; /* Сдвиг под текст */
  left: 0;
}

.modal-continue__buttons{
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-continue__button{
  position: relative;
  max-width: 300px;
  min-height: 70px;
  border: none;
  background-color: white;
  a{
      text-decoration: none;
      color: #000;
      font-size: 17px;
  }

  img{
      width: 50px;
      height: 50px;
      margin-left: -200px;
      padding-top: 5px;
  }
}

.modal-continue__text{
  position: absolute;
  top: 25px;
  left: 85px;
}

.placeholder__fail::placeholder{
  color: red;
}

.modal__close{
  position: absolute;
  left: 1000px;
  top: 150px;
  background-color:rgba(0, 0, 0, 0.01);
  color: white;
  border: none;
  font-size: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.captcha{
  margin-left: 13%;
  margin-top: 5%;
}

