.modal__block-verif {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 600px;
  height: 200px;
  /* border-radius: 10px; */
  z-index: 1001; /* Модалка поверх подложки */
}

.modal__title-verif {
  font-size: 25px;
  text-align: left;
}

.modal__input-verif {
  border: none;
  background-color: #eceaea;
  width: 70%;
  height: 40px;
  padding-left: 33px;
  font-size: 15px;
  margin-left: 10%;
  position: relative;
}

.modal__verif-button {
  position: absolute;
  border: none;
  background-color: #eceaea;
  font-size: 20px;
  width: 40px;
  height: 40px;
  top: 92px;
  right: 150px;
  bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
  img{
    max-width: 30px;
    max-height: 30px;
  }
}
#email {
  top: 121.7px;
}

.modal__verif-button:hover {
  transform: scale(1.05);
}

.next_btn-img {
  width: 40px;
  height: 40px;
}

.modal__overlay-verif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный серый фон */
  display: none; /* Центрируем модалку */
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: scale(0.9);
  opacity: 0;
  /* Поверх всего */
}

.modal__overlay-verif.open {
  transition: opacity 0.5s ease, transform 0.5s ease;
  transform: scale(1);
  opacity: 1;
  display: flex;
  /* Поверх всего */
}

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .modal__title-verif {
    font-size: 30px;
  }
  .modal__input-verif {
    width: 80%;
    margin-left: 6%;
    font-size: 22px;
  }
  #email {
    top: 143px;
  }
}

@media (min-width: 1440px) and (max-width: 1440px) and (min-height: 900px) and (max-height: 900px) {
  .modal__title-verif {
    font-size: 30px;
  }
  .modal__input-verif {
    width: 80%;
    margin-left: 6%;
    font-size: 22px;
  }
  #email {
    top: 143px;
  }
}
@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  .modal__title-verif {
    font-size: 40px;
  }
  .modal__block-verif{
    width: 600px;
    height: 250px;
  }
  .modal__input-verif {
    width: 80%;
    margin-left: 6%;
    font-size: 25px;
  }
  #email {
    top: 183px;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  #email {
    top: 124px;
    left: 300px;
  }
}
