:root{
  --main-margin-left : 20.5%;
  --main-grey-colour : rgba(0,0,0,0.66)
}

.personal__data-block{
  border : 1px solid black;
  height: 440px;
  width: 410px;
  border-radius : 36px;
  padding-left: 59px;
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.profile__title{
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  width: fit-content;
}

.profile__block{
  margin-top: 80px;
  margin-left: 3rem;
  display: flex;
  gap: 32px;
  margin-bottom: 80px;
}

.personal__data-username{
  color: var(--main-grey-colour);
  font-size: 35px;
  /* margin-top: 26px;
  margin-bottom: 52px; */
}

.credentials-block__email{
  color: var(--main-grey-colour);
  margin: 0;
  font-size: 22px;
}

.credentials-block__button{
  transition: transform 0.4s ease;
  background-color: black;
  color: white;
  width: 200px;
  height: 47px;
  border-radius : 10px;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
}

.credentials-block__button:hover{
  transform: scale(0.95);
}

.credentials-block__buttons{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.credentials-block{
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: flex-start;
  margin-top: 30px;
}

.currency-block{
  width: 230px;
  height: 145px;
  border : 1px solid black;
  border-radius : 35px;
  padding-top: 55px;
  padding-left: 31px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.currency-block__amount{
  color: var(--main-grey-colour);
  font-size: 25px;
  margin: 0;
}

.currency__amount-block{
  display: flex;
  align-items: center;
  gap: 10px;
}

.currency-block__amount-plus{
  transition: transform 0.3s ease;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.currency-block__amount-plus:hover{
  transform: scale(0.9);
}

.personal__data-username_block{
  display: flex;
  gap: 18px;
  align-items: center;
}

.personal__data-image_edit{
  transition: transform 0.4s ease-out;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.personal__data-image_edit:hover{
  transform: scale(0.90);
}


.profile-second__part{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.subscription-block{
  padding-top: 25px;
  width: 261px;
  height: 220px;
  border : 1px solid black;
  border-radius : 35px;
}

.subscription__title{
  font-size: 30px;
  text-align: center;
}

.subscription__active-till{
  text-align: center;
  color: rgba(0,0,0,0.77)
}

.subscription__date-expiration_block{
  display: flex;
  margin: 0 auto;
  width: fit-content;
  flex-direction: column;
  align-items: center;
}

.subscription__date-expiration_block-month{
  margin: 0;
  color: rgba(0,0,0,0.77)
}

.subscription__date-expiration_block-date{
  margin: 0;
  font-size: 45px;
}

.delete__account-button{
  background-color: #fff;
  color: black;
  border : 1px solid black;
  width: 261px;
  height: 47px;
  font-weight: 900;
  border-radius: 13px;
  font-size: 16px;
  cursor: pointer;
}

.log__out-btn{
  height: 69px;
  width: 71px;
  cursor: pointer;
}

.logout-button {
  background: white;
  border: 1px solid black;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s;
  width: 80px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 400px;
}

.door {
  width: 100%;
  height: 100%;
}

/* Дверь — 3D-поворот */
.door-panel {
  transition: transform 0.4s ease;
  transform-origin: left center;
}

.logout-button:hover .door-panel {
  transform: rotateY(60deg);
}

.new__userdata-input{
  margin-top: 29px;
  margin-bottom: 29px;
  width: 162px;
  height: 22.5px;
  font-size: 30px;
  color : var(--main-grey-colour);
  border-radius : 10px;
  border : 1px solid black;
  padding : 10px;
  font-weight: 600;
}
