:root{
  --main-margin-left : 20.5%;
  --main-grey-colour : rgba(0,0,0,0.66)
}

.personal__data-block{
  border : 1px solid black;
  height: 440px;
  width: 410px;
  border-radius : 36px;
  padding-left: 59px;
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.profile__title{
  font-size: 40px;
  margin: 0;
  font-weight: 700;
}

.profile__block{
  margin-top: 80px;
  margin-left: 3rem;
  display: flex;
  gap: 35px;
  margin-bottom: 70px;
}

.personal__data-username{
  color: var(--main-grey-colour);
  font-size: 35px;
  /* margin-top: 26px;
  margin-bottom: 52px; */
}

.credentials-block__email{
  color: var(--main-grey-colour);
  margin: 0;
  font-size: 22px;
}

.credentials-block__button{
  background-color: black;
  color: white;
  width: 200px;
  height: 47px;
  border-radius : 10px;
  font-weight: 900;
  font-size: 15px;
  cursor: pointer;
}

.credentials-block__buttons{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.credentials-block{
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: flex-start;
  margin-top: 30px;
}

.currency-block{
  width: 235px;
  height: 200px;
  border : 1px solid black;
  border-radius : 40px;
  padding-top: 60px;
  padding-left: 31px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.currency-block__amount{
  color: var(--main-grey-colour);
  font-size: 25px;
  margin: 0;
}

.currency__amount-block{
  display: flex;
  align-items: center;
  gap: 10px;
}

.currency-block__amount-plus{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.personal__data-username_block{
  display: flex;
  gap: 18px;
  align-items: center;
}

.personal__data-image_edit{
  cursor: pointer;
  width: 30px;
  height: 30px;
}