
  .terms__title{
      text-align: center;
      margin-top: 10%;
      background-color: #E7E3E3;
      padding: 1%;
      width: auto;
  }
  
  .terms__container{
      border: 1px solid black;
      max-width: 50%;
      margin-left: 25%;
      margin-top: 5%;
      border-radius: 35px;
      padding-bottom: 3%;
  }
  
  .terms-company__name{
      text-align: center;
  }
  
  .terms__subtitle{
      margin-left: 3%;
      font-weight: bolder;
      font-size: 20px;
  }
  
  .terms__defenition{
      margin-left: 3%;
      font-size: 20px;
      padding-right: 3%;
      margin-top: 30px;
      line-height: 30px;
      font-weight: 500;
      span{
        font-weight: 700;
      }
  }
  
  .footer__container{
    margin-top: 7%;
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    max-width: 1920px;
    &:nth-child(1){
      padding-left: 105px;
    }
  }
  
  .footer__logo{
    font-weight: 600;
    font-size: 20px;
  }
  
  .footer__terms{
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 19px;
    color: black;
  }
  
  .footer__purpose{
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;  
  }
  
  .footer__button{
    border: 1px solid #000;
    border-radius: 11px;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    
    width: 232px;
    height: 31px;
    margin-top: 15px;
    margin-right: 30px;
  }
  
  @media (max-width: 380px) {
    .header__link{
      font-size: 15px;
    }
    .header_links{
      margin-left: 10px;
    }
  }
  