:root {
  --main-red-col: #ff0000;
}
.terms__title {
  text-align: center;
  margin-top: 10%;
  background-color: #f6f5f5;
  padding: 1%;
  width: auto;
}

.terms__container {
  border: 1px solid black;
  max-width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 35px;
  padding-bottom: 3%;
}

.terms-company__name {
  text-align: center;
}

.terms__subtitle {
  margin-left: 3%;
  font-weight: bolder;
  font-size: 20px;
}

.terms__defenition {
  margin-left: 3%;
  font-size: 15px;
  padding-right: 3%;
  margin-top: 30px;
  line-height: 30px;
  font-weight: 500;
  span {
    font-weight: 700;
    font-size: 18px;
  }
}


@media (max-width: 380px) {
  .header__link {
    font-size: 15px;
  }
  .header_links {
    margin-left: 10px;
  }
}
@media (min-width: 2480px) and (max-height: 1024px)
 {
  .footer__container {
    max-width: 2560px;
    margin-top: 30%;
  }
  .footer__terms {
    margin-top: 0.7%;
    font-size: 20px;
  }
  .footer__purpose {
    margin-top: 0.7%;
    font-size: 20px;
  }
  .footer__logo {
    font-size: 20px;
  }
  .footer__button {
    font-size: 25px;
    width: 255px;
    height: 37px;
  }
  .footer__terms {
    font-size: 23px;
  }
  .footer__purpose {
    font-size: 23px;
  }
}
@media (min-width: 1920px) and (min-height: 1080px)
 {
  .footer__terms {
    margin-top: 0.7%;
    font-size: 18px;
  }
  .footer__purpose {
    margin-top: 0.7%;
    font-size: 18px;
  }
  .footer__button {
    font-size: 22px;
    width: 225px;
    height: 27px;
  }

  .footer__terms::after {
    width: 100.7vw;
  } 
}
@media (min-width: 768px) and (max-width: 1024px)
{
  .footer__container {
    &:nth-child(1) {
      padding-left: 15px;
    }
  }
  .footer__terms::after {
    width: 110vw;
  }
}
@media (max-width: 375px){
  .footer__container{
    margin-top: 100%;
  }
}
