
  .terms__title{
      text-align: center;
      margin-top: 10%;
      background-color: #E7E3E3;
      padding: 1%;
      width: auto;
  }
  
  .terms__container{
      border: 1px solid black;
      max-width: 50%;
      margin-left: 25%;
      margin-top: 5%;
      border-radius: 35px;
      padding-bottom: 3%;
  }
  
  .terms-company__name{
      text-align: center;
  }
  
  .terms__subtitle{
      margin-left: 3%;
      font-weight: bolder;
      font-size: 20px;
  }
  
  .terms__defenition{
      margin-left: 3%;
      font-size: 20px;
      padding-right: 3%;
      margin-top: 30px;
      line-height: 30px;
      font-weight: 500;
      span{
        font-weight: 700;
      }
  }
  
  .footer__container{
    margin-top: 20%;
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    max-width: 1920px;
    &:nth-child(1){
      padding-left: 105px;
    }
  }
  
  .footer__logo{
    font-weight: 600;
    font-size: 16px;
  }
  
  .footer__terms{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1.3%;
    color: black;
  }
  
  .footer__purpose{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;  
  }
  
  .footer__button{
    border: 1px solid #000;
    border-radius: 11px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    
    width: 200px;
    height: 25px;
    margin-top: 15px;
    margin-right: 30px;
  }
  
  @media (max-width: 380px) {
    .header__link{
      font-size: 15px;
    }
    .header_links{
      margin-left: 10px;
    }
  }
  @media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
    .footer__container{
     max-width: 2560px;
     margin-top: 30%;
    }
    .footer__terms{
      margin-top: 0.7%;
      font-size: 20px;
    }
    .footer__purpose{
      margin-top: 0.7%;
      font-size: 20px;
    }
    .footer__logo{
      font-size: 20px;
    }
    .footer__button{
      font-size: 22px;
      width: 225px;
      height: 27px;
    }
 }
 @media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .footer__terms{
    margin-top: 0.7%;
    font-size: 18px;
  }
  .footer__purpose{
    margin-top: 0.7%;
    font-size: 18px;
  }
  .footer__button{
    font-size: 22px;
    width: 225px;
    height: 27px;
  }
}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  .footer__container{
    &:nth-child(1){
      padding-left: 15px;
    }
  }
}

@media (max-width: 430px) and (max-height: 920px) {
  .footer__container{
    flex-direction: column;
    height: 200px;
    margin-top: 20%;
    min-width: 400px;
    max-width: 438px;
    &:nth-child(1){
      padding-left: 10px;
    }
  }
  .footer__button{
    margin-left: 0;
    &:last-child{
      margin-bottom: 5%;
    }
  }
  .footer__logo{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 0;
  }
  .footer__purpose{
    margin-left: 0;
  }
}