.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
}
* {
  font-family: "Inter", sans-serif;
}

header {
  padding: 20px 0;
  background-color: #000000;
  max-height: 52px;
}

.header__link {
  text-transform: uppercase;
  margin-right: 96px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  span {
    transition: all 0.6s;
  }
  &:last-child {
    margin-right: 0px;
  }
}
.header__link:hover {
  span {
    color: var(--main-red-col);
  }
}

.header__links {
  margin-left: 20px;
  display: flex;
  margin-top: -45px;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.logo {
  margin-top: -10px; /* Увеличь значение, если нужно больше места сверху */
  margin-left: 60px;
  font-size: 30px;
  font-weight: 800;
  max-width: 150px;
  transition: all 0.6s ease;
  color: #fff;
}
.logo span {
  transition: all 0.6s ease;
  color: black;
}

.header__links {
  margin-left: 20px;
  display: flex;
  margin-top: -25px;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

.logo {
  margin-top: -10px; /* Увеличь значение, если нужно больше места сверху */
  margin-left: 5%;
  font-size: 30px;
  max-width: 150px;
  cursor: pointer;
  transition: all 0.6s ease;
  color: #fff;
}
.logo span {
  color: #ff0000;
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .header__link {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__link {
    margin-right: 50px;
  }

  .header__links{
    margin-left: 10%;
  }
}

@media (max-width: 430px) {
  header {
    width: auto;
  }
  .logo{
    font-size: 20px;
    margin-left: 0;
    span{
      color: var(--main-red-col);
    }
  }
  .header__link{
    margin-right: 0px;
    font-size: 13px;
    margin-right: 15px;
  }
  .header__links{
    margin-left: 30%;
    margin-top: -18px;
  }
}

@media (max-width: 375px){
  .logo{
    margin-top: -5px;
    
  }
  .header__link{
    margin-right: 5px;
  }
  .header__links{
    margin-left: 10%;
  }
}
