.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  padding: 0 20px;
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
}
* {
  font-family: "Inter", sans-serif;
}

header {
  padding-top: 10px;
  transition: all 0.6s ease;
  background-color: #000000;
  max-height: 52px;
}
header.active {
  max-height: 100px;
  padding-bottom: 10px;
}
header.active .header__sublinks {
  overflow: visible;
  transform: scaleY(1);
  margin-top: 2%;
  margin-bottom: 2%;
}
.logo {
  margin-left: 60px;
  font-size: 30px;
  font-weight: 800;
  max-width: 150px;
  transition: all 0.6s ease;
  color: #fff;
}
.logo span {
  transition: all 0.6s ease;
  color: black;
}


.logo span {
  color: #ff0000;
}

.header__links {
  align-items: center;
  display: flex;
  margin-left: 130px;
  margin-top: -30px;
  justify-content: center;
  a {
    text-decoration: none;
  }
}

.header__top{
  display: flex;
  align-items: center;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 96px;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  span {
    transition: all 0.6s;
  }
  &:last-child {
    margin-right: 0px;
  }
}
.header__link:hover {
  span {
    color: var(--main-red-col);
  }
}

.down__arrow {
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
}

.down__arrow:hover {
  scale: 0.9;
}

.down__arrow.active {
  rotate: -90deg;
}

.header__divider {
  margin-top: 1%;
  height: 0.5px;
  width: 100%;
  background-color: #fff;
}

.header__sublinks {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease;
  margin-top: 0%;
  margin-bottom: 0%;
  a {
    font-size: 12px;
  }
}


@media (min-width: 1920px) and (min-height: 1080px) {
  .header__link {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__link {
    margin-right: 50px;
  }

  .header__links {
    margin-left: 10%;
  }
}

@media (max-width: 430px) {
  header {
    width: auto;
  }
  .header__link {
    margin-right: 0px;
    font-size: 13px;
    margin-right: 15px;
  }
  .header__links {
    margin-left: 10%;
  }
  .logo{
    margin-left: 10px;
  }
  .header__sublinks{
    margin-left: 0%;
  }
}

@media (max-width: 375px) {
  .logo {
    margin-top: -5px;
  }
  .header__link {
    margin-right: 5px;
  }
  .header__links {
    margin-left: 10%;
  }
}

@media (min-width: 2560px) and (max-height: 1080px) {
  header.active .header__sublinks {
    overflow: visible;
    transform: scaleY(1);
    margin-top: 0.5%;
    margin-bottom: 2%;
  }

  .header__sublinks{
    margin-left: 1.5%;
    a{
      font-size: 15px;
    }
  }
  header.active {
    max-height: 120px;
    padding-bottom: 10px;
  }
}


@media (min-width: 1920px) and (min-height: 1050px){
  header.active .header__sublinks{
    margin-top: 1%;
    margin-left: 2.5%;
  }

  .header__sublinks{
    a{
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px){
  .logo{
    margin-left: 20px;
    a{
      font-size: 25px;
    }
  }
}