.cookie__agreement-block {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  position: fixed;
  width: 35%;
  border-radius: 25px;
  bottom: 2%;
  left: 2%;
  right: 0;
  height: 150px;
  z-index: 100;
  background-color: #fff;
  scale: 0.8;
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(10px);
  filter: drop-shadow(0 0 0.5rem rgb(169, 168, 168));
}
.cookie__agreement-block.open {
  visibility: visible;
  opacity: 1;
  scale: 0.9;
}
.cookie__agreement-block_closebtn {
  transition: all 0.6s ease;
  background-color: #fff;
  border: none;
  width: 70%;
  height: 70%;
  .closebtn__img {
    height: inherit;
    width: inherit;
  }
  cursor: pointer;
}
.cookie__subflex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 20%;
  gap: 15px;
}
.cookie__agreement-block_closebtn:hover {
  transform: scale(0.9);
}
.cookie__agreement-cookie {
  width: 40%;
  height: 40%;
}
.cookie__agreement-text {
  width: 75%;
  font-weight: 300;
  margin-left: 5%;
  font-size: 17px;
}
@media (max-width: 430px) {
  .cookie__agreement-block {
    width: 100%;
    left: 0%;
  }
  .cookie__agreement-block_closebtn {
    width: 13%;
    height: 30%;
    left: 84%;
  }
}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  .cookie__agreement-block {
    width: 70%;
    left: 0%;
  }
}
@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  .cookie__agreement-block {
    width: 25%;
    left: 0%;
    height: 240px;
  }
  .cookie__agreement-text {
    font-size: 25px;
  }
}
@media (min-width: 1900px) and (max-width: 2560px) {
  .cookie__agreement-block {
    width: 25%;
  }
}
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px) {
  .cookie__agreement-block {
    width: 40%;
  }
}
