body {
  margin: 0;
}
main {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto; /* центрирует контейнер */
  padding: 0 20px; /* добавь отступы по бокам, чтобы контейнер не прилегал к краям */
  box-sizing: border-box;
}
:root {
  --main-red-col: #ff0000;
}
* {
  font-family: "Inter", sans-serif;
}

.typewriter {
  white-space: nowrap;
  overflow: hidden;
  span {
    color: black;
  }
}

.cursor {
  display: inline-block;
  animation: blink 0.8s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.CTA {
  display: flex;
  margin: 0 auto;
  margin-top: 140px;
  justify-content: center;
  align-items: center;
}

.title__CTA {
  font-size: 66px;
  text-align: center;
  span {
    background: linear-gradient(to right, #990000, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }
}

#cursor {
  color: black;
}

.CTA__ytlogo {
  width: 150px;
  display: block;
  margin-left: 45px;
  margin-right: 45px;
  height: 104px;
}

.login__and__search-flex {
  display: flex;
  flex-direction: column;
}

.search__main {
  margin-left: 3%;
  font-size: 20px;
  width: 770px;
  height: 52px;
  border-radius: 17px;
  border: 1.5px solid black;
  padding-left: 2%;
  font-weight: 700;
}

.login {
  margin-top: 70px;
  margin-left: 1050px;
  a {
    text-decoration: none;
  }
}

.log__in {
  font-weight: 300;
  font-size: 17px;
  color: #000;
  transition: all 0.6s ease;
}

.sign__in {
  font-weight: 300;
  font-size: 17px;
  color: #000;
}

.animated-word {
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.Header__input-flex {
  display: flex;
  margin: 0 auto;
  width: 73%;
  gap: 4%;
}

.buttons {
  border: 1.5px solid black;
  display: flex;
  align-items: center;
  border-radius: 20px;
  width: 12%;
  gap: 12%;
  justify-content: center;
}

.search__filters {
  padding: 0;
  border: none;
  background: white;
  /* margin-top: 40px; */
  width: 30px;
  height: 30px;
  cursor: pointer;
  img {
    width: inherit;
    height: inherit;
  }
}

.search__glass {
  padding: 0;
  border: none;
  background: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  img {
    width: inherit;
    height: inherit;
  }
}

.target-audence__title {
  font-weight: 700;
  font-size: 25px;
  color: #0d0d0d;

  span {
    color: var(--main-red-col);
  }
}
.filters {
  max-height: 0;
  overflow: hidden; /* Прячем содержимое */
  opacity: 0; /* Для плавного появления */
  transition: max-height 0.3s ease, opacity 0.3s ease;
  margin-bottom: 5%;
}

.filters.active {
  max-height: 1500px; /* Укажите примерную максимальную высоту фильтров */
  opacity: 1; /* Показываем элемент */
}

.filters__flex {
  display: flex;
  flex-direction: column;
  margin-left: 16%;
}

#youth {
  grid-row: 2;
  grid-column: 2;
}
#older {
  grid-row: 2;
  grid-column: 3;
}
.filter__block {
  width: 170px;
  height: 50px;
  border: 1.5px solid black;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #fff;
}
.filter__block.filteractive {
  border: 1.3px solid var(--main-red-col);
  transform: scale(0.9);
}

.target-audence__blocks {
  display: grid;
  grid-template-columns: repeat(4, 170px);
  row-gap: 10px;
  column-gap: 10px;
}
.filter__block {
  padding-top: 0;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #0d0d0d;
  padding-left: 20px;
  align-items: center;
}

#last {
  grid-column: 3;
  grid-row: 2;
}

#adults {
  grid-column: 1;
  grid-row: 2;
}

.number__ofsubs__blocks {
  display: grid;
  grid-template-columns: repeat(5, 170px);
  grid-template-rows: repeat(2, 50px);
  row-gap: 15px;
  column-gap: 10px;
}

#highest {
  grid-column: 1;
  grid-row: 3;
}
.maininput {
  margin-top: 40px;
}
.content__type__blocks {
  display: grid;
  grid-template-columns: repeat(5, 170px);
  grid-template-rows: repeat(2, 50px);
  row-gap: 15px;
  column-gap: 10px;
}

.filter__block__subs {
  font-size: 36px;
  text-align: left;
  font-weight: 300;
  font-size: 26px;
  color: #0d0d0d;
  padding-left: 50px;
  min-width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 97px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: pointer;
}
#mediumplus {
  grid-column: 1;
  grid-row: 2;
}
#hi {
  grid-column: 2;
  grid-row: 2;
}
#hiplus {
  grid-column: 3;
  grid-row: 2;
}

.filter__divider {
  margin-top: 4%;
  height: 0.7px;
  width: 68%;
  background-color: black;
}

.profile__name {
  font-size: 16px;
  margin-right: 5%;
  text-decoration: none;
  color: #000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 5%;
  margin-left: -11%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-red-col);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.multifilter__block {
  display: flex;
  margin-top: 3%;
  margin-left: 14%;
}

.selectedfilters__blocks {
  display: flex;
  gap: 3%;
  margin-top: 5%;
  margin-left: -9%;
}

.selectedfilter__block {
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.selectedfilter__block.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

.selectedfilters__title {
  transition: all 0.6s ease;
  margin-left: 17%;
  opacity: 0;
  max-height: 30px;
}

.selectedfilters__title.active {
  opacity: 1;
}

.reset__button {
  transition: all 0.6s ease;
  cursor: pointer;
  margin-top: -1%;
  background-color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  img {
    width: inherit;
    height: inherit;
  }
}

.reset__button:hover {
  scale: 0.9;
}

.multifilter__title {
  font-weight: 700;
  span {
    color: var(--main-red-col);
  }
}

.close__filter {
  cursor: pointer;
  background-color: #fff;
  border: none;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  img {
    width: inherit;
    height: inherit;
  }
}

.selectedfilter__block {
  transition: all 0.6s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 25px;
  border: 1px solid black;
  border-radius: 97px;
  transition: all 0.5s ease;
  background-color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 0 10px 2px;
  opacity: 0;
}
.selectedfilter__block.active {
  opacity: 1;
}

.search__multifilters-btn {
  transition: all 0.6s ease;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  margin-top: -0.5%;
  margin-right: -1%;
  img {
    width: inherit;
    height: inherit;
  }
}

.search__multifilters-btn:hover {
  scale: 0.9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@media (max-width: 430px) {
  .title__CTA {
    font-size: 24px;
  }
  .CTA__ytlogo {
    width: 41px;
    height: 28px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .search__main {
    padding-left: 5%;
    font-size: 14px;
    width: 268px;
    height: 45px;
    border: 1px solid black;
  }
  .search__filters {
    img {
      height: 20px;
      width: 20px;
    }
  }
  .buttons {
    border-radius: 15px;
    min-width: 45px;
    min-height: 45px;
    border: 1px solid black;
  }
  .maininput {
    margin-top: 24px;
  }
  .Header__input-flex {
    width: 90%;
  }
  .filter__divider {
    height: 0.001px;
    width: 85%;
  }
  .filters__flex {
    margin-left: 8%;
    margin-top: 5%;
  }
  .target-audence__title {
    font-size: 20px;
  }
  .target-audence__blocks {
    display: grid;
    grid-template-columns: repeat(2, 142px);
    grid-template-rows: repeat(2, 42px);
    row-gap: 10px;
    column-gap: 10px;
  }
  .filter__block {
    width: 142px;
    height: 42px;
    font-size: 15px;
    border : 1px solid black;
  }
  .number__ofsubs__blocks {
    display: grid;
    grid-template-columns: repeat(2, 142px);
    grid-template-rows: repeat(2, 42px);
    row-gap: 15px;
    column-gap: 10px;
  }
  .content__type__blocks{
    display: grid;
    grid-template-columns: repeat(2, 142px);
    grid-template-rows: repeat(2, 42px);
    row-gap: 15px;
    column-gap: 10px; 
  }
}
