.footer__container {
  margin-top: 5%;
  display: flex;
  height: inherit;
  justify-content: space-between;
  max-width: 2560px;
  background-color: black;
  &:nth-child(1) {
    padding-left: 105px;
  }
}

.footer__logo {
  font-weight: 600;
  font-size: 17px;
  span {
    color: var(--main-red-col);
  }
}

.footer__button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #000000;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;

  max-width: 50px;
  height: 25px;
  margin-top: 2%;
}

#RuButton{
  margin-right: 15px;
}

#logo_footer {
  position: relative;
  margin-top: 12%;
  margin-left: 0;
  color: #fff;
  font-size: 30px;
}

#logo_footer::after {
  content: "";
  position: absolute;
  left: -70%;
  bottom: -10px; /* Отступ от элемента */
  width: 99.7vw; /* На всю ширину родителя */
  height: 1px; /* Толщина линии */
  background-color: rgb(255, 255, 255); /* Цвет линии */
}

.footer-first__group {
  display: flex;
  height: 50%;
}

.footer-second__group {
  margin-top: 6%;
  margin-left: -64%;
  max-width: 475px;
}

.footer-third__group-text {
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 700;
  }
}

.footer__last-section {
  margin-top: 10%;
  display: flex;
  gap: 7%;
  max-width: 550px;
}

.footer__btns-container {
  margin-top: 1.5%;
  max-height: 50px;
  margin-right: 5%;
}


.footer__logo {
  font-weight: 600;
  font-size: 20px;
}

.footer__terms {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.footer__purpose {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 2%;
}

.footer__logo {
  font-weight: 600;
  font-size: 20px;
}



.footer__logo {
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 1920px) and (min-height: 1080px) {
  #logo_footer::after {
    content: "";
    position: absolute;
    left: -70%;
    bottom: -20px; /* Отступ от элемента */
    width: 99.7vw; /* На всю ширину родителя */
    height: 1px; /* Толщина линии */
    background-color: rgb(255, 255, 255); /* Цвет линии */
  }

  .footer-second__group {
    margin-top: 5%;
    flex-direction: column;
    margin-left: -67.3%;
    gap: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) and (min-height: 720px) {
  .footer-second__group {
    margin-left: -53%;
    margin-top: 6.5%;
  }
}

@media (min-width: 2480px) and (max-height: 1080px) {
  #logo_footer {
    font-size: 35px;
  }
  #logo_footer::after {
    content: "";
    position: absolute;
    left: -70%;
    bottom: -20px; /* Отступ от элемента */
    width: 99.7vw; /* На всю ширину родителя */
    height: 1px; /* Толщина линии */
    background-color: rgb(255, 255, 255); /* Цвет линии */
  }
  .footer-second__group {
    margin-top: 4%;
    flex-direction: column;
    margin-left: -65%;
    gap: 20px;
  }
  .footer__btns-container {
    margin-top: 0.7%;
  }
  .footer__last-section {
    margin-top: 9%;
  }
  .footer-third__group-text {
    font-size: 22px;
  }
  .footer__container{
    max-width: 100%;
  }
  .footer-second__group{
    margin-top: 4%;
    margin-left: -77%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-second__group {
    margin-left: -43%;
    margin-top: 9%;
  }
  #logo_footer {
    margin-left: 5%;
  }
  .footer__last-section {
    margin-left: 4%;
  }
  #logo_footer::after {
    width: 110.7vw; /* На всю ширину родителя */
    height: 1px; /* Толщина линии */
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  #logo_footer {
    margin-top: 5%;
    font-size: 20px;
  }
  .footer-second__group {
    margin-top: 6%;
    flex-wrap: wrap;
    margin-left: 0%;
    gap: 10px;
  }
  #logo_footer::after {
    width: 114vw; /* На всю ширину родителя */
    height: 1px; /* Толщина линии */
  }
  #promotion_footer {
    margin-top: 85%;
  }
}
