.footer{
  background-color: black;

}
.footer__container{
  display: flex;
  align-items: flex-start;
  padding-left: 4rem;
  padding-top: 3rem;
  gap: 190px;
}

.first__flex{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.first__flex-logo{
  width: 150px;
  height: 25px;
}

.first__flex-text{
  color: #AAA;
  margin-top: 0;
  font-size: 17px;
}

.second__flex{
  display: flex;
  flex-direction: column;
}

.flex__title{
  color: white;
  font-weight: 600;
}

.flex__link{
  text-decoration: none;
  color: #CCC;
}

.flex__button{
  transition: rotate 0.3s ease;
  width: 25px;
  height: 4px;
  cursor: pointer;
}

.flex__button.rotate{
  rotate: 180deg;
}

.footer__divider{
  background-color: #333333;
  height: 1px;
}

.links__flex{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer__last-text{
  color: #AAA;
  margin: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.information__flex{
  display: flex;
  gap : 100px;
  align-items : flex-start 
}

.third__flex{
  display: flex;
  flex-direction: column;
  a{
    text-decoration: none;
    color : #CCC;
  }
}

.social__media-flex{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}

.social__media-icon_telegram{
  width: 27px;
  height: 27px;
  img{
    height: inherit;
    width: inherit;
  }
}

.social__media-icon_yt{
  width: 27px;
  height: 17px;
  img{
  height: inherit;
  width: inherit;
  }
}

.footer__divider{
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-top: 200px;
}


@media (max-width: 430px) {
  .footer__container{
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    gap: 25px;
  }
  .first__flex{
    align-items: center;
    gap: 15px;
  }
  .first__flex-text{
    text-align: center;
    font-size: 12px;
  }
  .flex__title{
    font-size: 12px;
    text-align: center;
  }
  .flex__link{
    font-size: 10px;
  }
  .information__flex{
    flex-direction: column;
    align-items : center;
    gap: 50px;
  }
  .second__flex{
    align-items : center;
  }
  .links__flex{
    align-items : center;
    gap: 9px;
  }
  .third__flex{
    align-items : center;
  }
  .footer__divider{
    margin-top: 40px;
  }
  .mail{
    font-size: 10px;
  }
  .first__flex-logo{
    width: 131px;
    height: 22px;
  }
  .footer__last-text{
    font-size: 13px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .social__media-flex{
    margin-top: 12px;
  }
}

@media (min-width: 2400px) and (max-width: 2700px){
  .footer{
    margin-top: 8.1%;
  }
}