.footer__container {
  margin-top: 5vw;
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: baseline;
  background-color: black;
  &:nth-child(1) {
    padding-left: 105px;
  }
}

.footer__button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #000000;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  max-width: 50px;
  height: 25px;
  margin-top: 2%;
}

#RuButton {
  margin-right: 15px;
}

#logo_footer {
  position: relative;
  margin-top: 10%;
  margin-left: 0;
  color: #fff;
  font-size: 30px;
}

#logo_footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px; /* или немного выше, если нужно */
  width: 47%;
  height: 0.5px;
  background-color: rgb(255, 255, 255);
}

.footer-second__group {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  .footer__purpose {
    margin-top: 5%;
    margin-left: 0;
  }
  .footer__terms {
    margin-top: 5%;
  }
}

.footer-third__group-text {
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 700;
  }
}

.footer__last-section {
  margin-top: 10%;
  display: flex;
  gap: 7%;
  max-width: 550px;
}

.footer__btns-container {
  margin-top: 1.5%;
  max-height: 50px;
  margin-right: 5%;
}

.footer__logo {
  font-weight: 600;
  font-size: 20px;
}

.footer__terms {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.footer__purpose {
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 2%;
}

.footer__logo {
  font-weight: 600;
  font-size: 20px;
}

.footer__logo {
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #logo_footer::after {
    width: 150%;
  }
}

@media (max-width: 430px) {
  .footer__container {
    margin-top: 50%;
    &:nth-child(1) {
      padding-left: 10%;
    }
  }
  .footer__button{
    margin-top: 15%;
  }
  #logo_footer::after {
    width: 33%;
    top: 25px;
  }
  .footer__terms{
    font-size: 12px;
  }
  .footer__purpose{
    font-size: 12px;
  }
  .footer-third__group-text{
    font-size: 12px;
  }
  #logo_footer{
    font-size: 20px;
  }
}

@media (min-width: 2500px) and (max-height: 1480px){
  .footer__container{
    margin-top: 6vw;
  }
}


@media (min-width: 1900px) and (min-height: 1050px){
  .footer__container{
    margin-top: 7vw;
  }
}