:root{
  --main-grey-colour : rgba(0,0,0,0.66)
}
.youtuber__block {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  transform: translateY(-40px);
  display: grid;
  width: 960px;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5%;
}

.youtuber__block.appearing{
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.youtuber__info-block {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1.5rem;
}

.youtuber__info-card{
  position: relative;
  width: 163px;
  height: 148px;
  border : 1.5px solid black;
  border-radius: 16px;
}

.youtuber__info-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.youtuber__info-channel_name{
  font-size: 40px;
  margin-bottom: 0;
}

.youtuber__info-card_head{
  width: 100%;
  height: 25px;
  background: black;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  position: absolute;
  top: 0;
  left: 0;
}

.youtuber__info-card_title{
  font-weight: 600;
  font-size: 17px;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 10px;
}

.youtuber__info-card_subtitle{
  text-align: center;
  font-size: 11px;
  word-break: break-all;
  margin: 0;
  color: var(--main-grey-colour);
}

.youtuber__logo-img{
  border-radius: 27px;
  border : 1.5px solid black;
  width: 400px;
  height: 400px;
}

.youtuber__block-button.fancy-button{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  height: 96px;
}


.blur-shimmer {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 0.2) 25%,
    rgba(200, 200, 200, 0.5) 50%,
    rgba(220, 220, 220, 0.2) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}