.title_promotion {
  text-transform: uppercase;
  font-size: 65px;
  margin-left: 17%;
  transition: all 0.6s;
}

.titleActive {
  span {
    transition: all 0.6s;
    color: var(--main-red-col);
  }
}

.list__container {
  display: flex;
  gap: 20px;
  margin-left: 17.5%;
  flex-wrap: wrap;
  flex: 1 1 200px;
  width: 80%;
  flex-direction: column;
  p{
    text-align: left;
    display: inline;
  }
}

.list__container__more {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s;
  gap: 100px;
  margin-left: 18.5%;
}

.list__container__more.active {
  opacity: 1;
  display: flex;
  max-height: 100px;
}

.list-container__member {
  transition: all 0.6s;
  font-size: 25px;
  cursor: pointer;
}
.list-container__member.active {
  color: var(--main-red-col);
}
.list-container__member.hidden {
  opacity: 0.5;
  cursor: pointer;
}

.list-container__button {
  width: 70px;
  height: 50px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
  img {
    padding: 0;
    width: 40px;
    height: 30px;
  }
  margin-bottom: 25%;
}

.promotion__buttons-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container__button.rotate {
  rotate: -90deg;
}

.search__input {
  position: relative;
  border: 0.5px solid #000;
  border-radius: 15px;
  width: 735px;
  height: 40px;
  padding-left: 50px;
  font-size: 20px;
  z-index: 2;
}

.promotion__search-flex{
  display: flex;
  width: 65%;
  margin: 0 auto;
  align-items : flex-end;
  gap: 4%;
  margin-top: 5%;
}

.search-input__button {
  transition: all 0.6s ease;
  padding: 0;
  border : 0.5px solid black;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  top: 14px;
  background-color: #fff;
  z-index: 3;
  cursor: pointer;
  margin-bottom: 4%;
  img {
    width: 20px;
    height: 20px;
  }
}

.search-input__button:hover{
  scale: 0.95;
}

.search-suggested__block {
  align-items : center;
  margin-top: 5%;
  border: 0.5px solid #000;
  border-radius: 27px;
  width: 850px;
  height: 250px;
  margin-left: 18%;
  transition: 0.6s all;
  position: relative;
  cursor: pointer;
}

.suggested__block-subflex{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.suggested__block-flex{
  display: flex;
  align-items : center;
  justify-content: space-between;
  height: inherit;
}

.suggested-block__img {
  height: inherit;
  border-radius: 27px;
  /* border: 1px solid black; */
  transition: 0.6s all;
}
.suggested-block__name {
  font-size: 20px;
  margin: 0;
}

#promotion {
  span {
    color: var(--main-red-col);
  }
}

.suggested__block-stats_flex{
  display: flex;
}

.suggested-block__title{
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.suggested__block-stats_grid {
  display: grid;
  grid-template-columns: repeat(2, auto); /* две колонки */
  grid-template-rows: auto auto; /* две строки */
  gap: 20px 30px; /* вертикальный и горизонтальный отступы */
  align-items: baseline;
  justify-content: start; /* можно заменить на center или space-between */
  justify-items: center;
}

.like,
.views {
  width: 35px;
  height: 35px;
}

.suggested-block__views {
  display: block;
  width: 30%;
}

.suggested-block__likes {
  display: block;
  width: 30%;
}

#promotion {
  margin-top: 30.5%;
}

.suggested-block__stats{
  display: flex;
  align-items: center;
}

.analitics__text {
  font-size: 17px;
  text-align: center;
  font-weight: 600;
}
.suggested-block__getDetailedAnalitics {
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 50px;
  background-color: var(--main-red-col);
  border: none;
  color: #fff;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 1920px) and (min-height: 1050px)
 {
  .list {
    margin-left: 10%;
  }
  .list-container__button.rotate {
    rotate: -90deg;
  }
  .search-suggested__block{
    margin-top: 5%;
    margin: 0 auto;
    width: 50%;
  }
  .promotion__search-flex{
    width: 40%;
  }
  .title_promotion{
    margin-left: 22%
  }
  .list__container{
    margin-left: 22%;
    width: 1200px;
  }
  .list__container__more{
    margin-left: 22%;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) and (min-height: 720px)
 {
  .title_promotion{
    margin-left: 14%;
  }
  .list__container{
    margin-left: 14%;
  }
  .list__container__more{
    margin-left: 14%;
  }
  .search-suggested__block{
    margin-left: 14%;
  }
}
@media (min-width: 2560px) and (max-height: 1480px)
 {
  .list__container {
    width: 70%;
    flex-direction: column;
  }
  .list__container__more {
    max-height: 100px;
  }
  .list-container__member {
    font-size: 30px;
  }
  .search-suggested__block {
    margin: 0 auto;
    margin-top: 5%;
    width: 900px;
    height: 190px;
  }
  .suggested-block__name {
    font-size: 30px;
  }
  .promotion__search-flex{
    width: 35%;
  }
}
@media (min-width: 768px) and (max-width: 1024px)
 {
  .list__container{
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
  }
  #promotion {
    margin-top: 80%;
  }
  #promotion_footer {
    margin-top: 55%;
  }
  .search-suggested__block {
    width: 73%;
  }
  .search__input{
    padding-left: 20px;
    font-size: 15px;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  .title_promotion {
    font-size: 40px;
    margin-left: 0;
    margin-left: 6%;
  }
  .list-container__member {
    font-size: 20px;
  }
  .list__container {
    margin-left: 7%;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
  }
  .list__container__more {
    margin-left: 5%;
  }
  .search-suggested__block {
    max-width: 314px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 30%;
  }
  .suggested-block__name {
    width: auto;
    margin-bottom: 0;
  }
  .suggested-block__likes {
    margin-top: -10%;
  }
  .search-suggested__block {
    height: 250px;
    border-radius: 25px;
  }
  .no_available {
    font-size: 20px;
  }
  .promotion__search-flex{
    width: 75%;
  }
  .search__input{
    padding-left: 10px;
    font-size: 13px;
  }
}
