.title_promotion {
  text-transform: uppercase;
  font-size: 65px;
  margin-left: 17%;
  transition: all 0.6s;
}

.titleActive {
  span {
    transition: all 0.6s;
    color: var(--main-red-col);
  }
}

.list__container {
  display: flex;
  gap: 100px;
  margin-left: 17%;
  flex-wrap: wrap;
  flex: 1 1 200px;
}

.list__container__more {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s;
  gap: 100px;
  margin-left: 17%;
}

.list__container__more.active {
  opacity: 1;
  display: flex;
  max-height: 50px;
}

.list-container__member {
  transition: all 0.6s;
  font-size: 25px;
  cursor: pointer;
}
.list-container__member.active {
  color: var(--main-red-col);
}
.list-container__member.hidden {
  opacity: 0.5;
  cursor: pointer;
}

.list-container__button {
  margin-left: 74%;
  width: 70px;
  height: 50px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.6s ease;
  img {
    padding: 0;
    width: inherit;
    height: inherit;
  }
}

.list-container__button.rotate {
  rotate: -90deg;
}

.search__input {
  position: relative;
  border: 1px solid #000;
  border-radius: 17px;
  width: 860px;
  height: 49px;
  margin-top: 5%;
  margin-left: 18%;
  padding-left: 50px;
  font-size: 20px;
  z-index: 2;
}

.search-input__button {
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: -100px;
  top: 14px;
  background-color: #fff;
  border: none;
  z-index: 3;
  cursor: pointer;
  img {
    width: inherit;
    height: inherit;
  }
}

.search-suggested__block {
  margin-top: 5%;
  border: 1px solid #000;
  border-radius: 37px;
  width: 920px;
  height: 150px;
  margin-left: 18%;
  transition: 0.6s all;
  position: relative;
  cursor: pointer;
}

.search-suggested__block:hover {
  transform: scale(1.02);
}
.active {
  height: auto;
}

.suggested-block__img {
  margin-left: 71%;
  margin-top: -10.5%;
  height: inherit;
  border-radius: 37px;
  border: 1px solid black;
  transition: 0.6s all;
}

.imgActive {
  height: 167px;
  width: 350px;
  position: absolute;
  top: 57%;
  left: -9%;
  transition: all 0.6s ease;
}
.suggested-block__name {
  margin-top: 6%;
  margin-left: 7%;
  /* padding-bottom: 2%; */
  width: 700px;
  font-size: 20px;
}

#promotion {
  span {
    color: var(--main-red-col);
  }
}

.footer {
  margin-top: 5%;
}

#promotion_footer {
  margin-top: 25%;
}

.footer__purpose {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.suggested-block__views {
  display: block;
  width: 30%;
  margin-top: -2%;
  margin-left: 5.5%;
}

.suggested-block__likes {
  display: block;
  width: 30%;
  margin-left: 7%;
  margin-bottom: 13px;
  margin-top: 0;
}

#promotion {
  margin-top: 30.5%;
}

.like {
  width: 10%;
  height: 10%;
  margin-bottom: -5px;
}

.likes__text {
  margin-left: 15%;
  margin-top: -8.5%;
  margin-bottom: 5%;
  font-size: 15px;
}

.views {
  margin-bottom: -25px;
  width: 20%;
  height: 20%;
}

.views__text {
  margin-left: 20%;
  margin-top: -6.5%;
  font-size: 15px;
}

.suggested-block__getDetailedAnalitics {
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 200px;
  height: 50px;
  background-color: var(--main-red-col);
  border: none;
  color: #fff;
  border-radius: 12px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
  .list {
    margin-left: 10%;
  }
  .search__input {
    margin-left: 26%;
  }
  .list-container__button {
    position: absolute;
    right: 550px;
    top: 300px;
  }
  .list-container__button.rotate {
    rotate: -90deg;
  }
  .search-suggested__block{
    margin-left: 26%;
  }
}
@media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px) {
  .list-container__button {
    position: absolute;
    top: 280px;
    right: 220px;
  }
  .title_promotion{
    margin-left: 14%;
  }
  .list__container{
    margin-left: 14%;
  }
  .list__container__more{
    margin-left: 14%;
  }
  .search__input{
    margin-left: 14%;
  }
  .search-suggested__block{
    margin-left: 14%;
  }
}
@media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
  .title_promotion {
    margin-left: 30%;
  }
  .list__container {
    margin-left: 30%;
  }
  .list__container__more {
    margin-left: 30%;
  }
  .search__input {
    margin-left: 30%;
    font-size: 30px;
  }
  .list-container__button {
    right: 860px;
  }
  .list-container__member {
    font-size: 30px;
  }
  .search__input {
    width: 890px;
    height: 65px;
  }
  .search-input__button {
    width: 50px;
    height: 50px;
    top: 16px;
  }
  .search-suggested__block {
    margin-left: 30.5%;
    width: 950px;
    height: 190px;
  }
  .suggested-block__name {
    font-size: 30px;
    margin-top: 8%;
  }
  .suggested-block__img {
    margin-left: 65%;
    margin-top: -14.5%;
  }
}
@media (min-width: 768px) and (max-width: 768px) and (min-height: 1024px) and (max-height: 1024px) {
  .search__input {
    width: 65%;
  }
  .list-container__button {
    right: 120px;
    top: 250px;
  }
  #promotion {
    margin-top: 80%;
  }
  #promotion_footer {
    margin-top: 55%;
  }
  .list-container__button {
    position: absolute;
    top: 250px;
    right: 120px;
  }
  .search-suggested__block {
    width: 73%;
  }
  .suggested-block__img {
    margin-left: 52%;
    margin-top: -13%;
  }
  .imgActive{
    height: 156px;
    width: 320px;
    top: 46%;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  .title_promotion {
    font-size: 40px;
    margin-left: 0;
    margin-left: 5%;
  }
  .search__input {
    width: 70%;
    margin-left: 9%;
    height: 35px;
    font-size: 15px;
    text-overflow: ellipsis
  }
  .search-input__button {
    width: 30px;
    height: 30px;
    top: 10 px;
    margin-left: -60px;
  }
  .list-container__member {
    font-size: 20px;
  }
  .list__container {
    margin-left: 5%;
  }
  .list-container__button {
    position: absolute;
    right: 75px;
    top: 180px;
    width: 50px;
    height: 30px;
  }
  .list__container__more {
    margin-left: 5%;
  }
  .search-suggested__block {
    max-width: 314px;
    margin-left: 10%;
  }
  .suggested-block__img {
    margin-left: 0%;
    margin-top: 5%;
    width: 314px;
    border-radius: 25px;
  }
  .suggested-block__name {
    width: auto;
    margin-bottom: 0;
  }
  .suggested-block__likes {
    margin-top: -10%;
  }
  .imgActive {
    height: 180px;
    width: 314px;
    position: absolute;
    top: 50%;
    left: 0%;
    transition: all 0.6s ease;
  }

  .search-suggested__block {
    height: 250px;
    border-radius: 25px;
  }
  .no_available {
    font-size: 20px;
  }
  #promotion_footer {
    margin-top: 85%;
  }
}
