  
  .title{
    text-transform: uppercase;
    font-size: 90px;
    margin-left:17%;
    transition: all 0.6s;
  }

  .title.active{
    span{
      transition: all 0.6s;
      color: var(--main-red-col);
    }
  }

  .list__container{
    display: flex;
    gap: 100px;
    margin-left: 17%;
    flex-wrap: wrap;
    flex: 1 1 200px;
  }

  .list__container__more{
    opacity: 0;
    max-height: 0;
    overflow: hidden;  
    transition: all 0.6s;
    gap: 100px;
    margin-left: 17%;
  }

  .list__container__more.active{
    opacity: 1;
    display: flex;
    max-height: 50px; 
  }

  .list-container__member{
    transition: all 0.6s;
    font-size: 25px;
    cursor: pointer;
  }
  .list-container__member.active{
    color: var(--main-red-col);
  }
  .list-container__member.hidden{
    opacity: 0.5;
    cursor: pointer;
  }

  .list-container__button{
    position: absolute;
    right: 310px;
    top: 230px;
    width: 70px;
    height: 50px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.6s ease;
    img{
        padding: 0;
        width: inherit;
        height: inherit;
    }
  }

  .list-container__button.rotate{
    rotate: -90deg;
  }

  .search__input{
    position: relative;
    border: 1px solid #000;
    border-radius: 17px;
    width: 860px;
    height: 49px;
    margin-top: 5%;
    margin-left: 18%;
    padding-left: 50px;
    font-size: 20px;
    z-index: 2;
  }

  .search-input__button{
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: -100px;
    top: 14px;
    background-color: #fff;
    border:none;
    z-index: 3;
    cursor: pointer;
    img{
        width: inherit;
        height: inherit;
    }
  }

  .search-suggested__block{
    margin-top: 5%;
    border: 1px solid #000;
    border-radius: 37px;
    width: 920px;
    height: 150px;
    margin-left: 18%;
    transition: 0.6s all;
    position: relative;
    cursor: pointer;
  }

  .search-suggested__block:hover{
    transform: scale(1.02);
  }
  .active{
    height: auto;
  }

  .suggested-block__img{
    margin-left: 71%;
    margin-top: -10.5%;
    height: inherit;
    border-radius: 37px;
    border: 1px solid black;
    transition: 0.6s all;
  }

  .imgActive{
    height: 267px;
    width: 400px;
    position: absolute;
    top: 36%;
    left: -14.5%;
  }
  .suggested-block__name{
    margin-top: 6%;
    margin-left: 7%;
    /* padding-bottom: 2%; */
    width: 700px;
    font-size: 20px;
  }

  #promotion{
    span{
        color: var(--main-red-col);
    }
  }

  .footer{
    margin-top: 15%;
  }

  .footer__purpose{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  .suggested-block__views{
    display: block;
    width: 30%;
    margin-top: -2%;
    margin-left: 5.5%;
  }

  .suggested-block__likes{
    display: block;
    width: 30%;
    margin-left: 7%;
    margin-bottom: 13px;
    margin-top: 0;
  }

  #promotion{
    margin-top: 30.5%;
  }

  .like{
    width: 10%;
    height: 10%;
    margin-bottom: -5px;
  }

  .likes__text{
    margin-left: 15%;
    margin-top: -8.5%;
    margin-bottom: 5%;
  }

  .views{
    margin-bottom: -25px;
    width: 20%;
    height: 20%;
  }

  .views__text{
    margin-left: 20%;
    margin-top: -8.5%;
  }

  .suggested-block__getDetailedAnalitics{
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 200px;
    height: 50px;
    background-color: var(--main-red-col);
    border: none;
    color: #fff;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
  }

  @media (max-width: 390px) {
    .header__link{
      font-size: 15px;
    }
  }