.sign__up-flex {
  display: flex;
  gap: 40px;
}
.sign__up-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 39px;
}
.continue__btn {
  transition: transform 0.3s ease;
  background-color: black;
  color: white;
  border-radius: 15px;
  width: 160px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.continue__btn:hover {
  transform: scale(0.95);
}

.sign__up-main_flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40%;
  margin-bottom: 500px;
  gap: 40px;
}

.sign__up-block {
  .decoration {
    margin-top: 70px;
    margin-left: 25%;
  }
}

.captcha__active {
  align-items: center;
  gap: 70px;
  margin-top: 120px;
}

.captcha__flex-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.checkbox__block {
  gap: 12px;
  display: flex;
  align-items: flex-start;
  width: 70%;
}

.agreement__text {
  margin-top: 8px;
  font-size: 14px;
  color: #aaaaaa;
}

.checkbox {
  width: 40px;
  height: 40px;
}

.agreement__link {
  text-decoration: none;
  color: rgba(0, 47, 255, 0.56);
}

.error-text {
  color: red;
}

@media (max-width: 430px) {
  .sign__up-title {
    font-size: 24px;
    max-width: 284px;
    word-break: break-all;
  }
  .typewriter {
    max-width: 284px;
    word-break: break-all;
    white-space: normal;
  }
  .sign__up-main_flex {
    width: 73%;
    gap: 24px;
    margin-top: 100px;
  }
  .sign__up-main_flex.captcha__active{
    align-items: center;
    .sign__up-title{
        text-align: center;
        word-break: normal;
        .typewriter{
            word-break: normal;
        }
    }
  }
  .input {
    width: 199px;
    height: 41px;
    border-radius: 10px;
    font-size: 12px;
  }
  .sign__up-flex {
    gap: 7px;
  }
  .continue__btn {
    font-size: 12px;
    width: 110px;
    height: 45px;
    border-radius: 10px;
  }
  .sign__up-block {
    .decoration {
      margin-top: 20px;
      margin-left: 20px;
      width: 31px;
      height: 33px;
    }
  }
  .back__button {
    width: 10px;
    height: 20px;
    margin-left: 5%;
  }
  .captcha__flex-box {
    gap: 21px;
    div {
      transform: scale(0.95);
    }
  }
  .code__flex{
    width: 100%;
    gap: 20px;
    margin-left: -70px;
  }
  .input__cell{
    width:41px;
    height: 55px;  
    border-radius: 15px;
    font-size: 15px;
  }
}

@media (min-width: 1680px) and (max-width: 2100px){
  .sign__up-main_flex{
    width: 30%;
  } 
  .sign__up-block{
    .decoration{
      margin-left: 30%;
    }
  }
}

@media (min-width: 2400px) and (max-width: 2700px){
  .sign__up-block{
    .decoration{
      margin-left: 36%;
    }
  }
  .sign__up-main_flex{
    width: 22.5%;
  } 
}
