  
  .logo {
    a{
      color: black;
      text-decoration: none;
    }
  }
  .title{
    font-size: 55px;
    text-transform: uppercase;
    margin-left: 17%;
    transition: all 0.6s;
  }
  .title.active{
    span{
      transition: all 0.6s;
      color: var(--main-red-col);
    }
  }

  .balance__block{
    margin-left: 17%;
    border: 1px solid #000;
    border-radius: 72px;
    width: 900px;
    height: 250px;
  }

  .balance-block__money{
    margin-top: 7%;
    font-size: 50px;
    margin-left: 10%;
    font-weight: 500;
  }

  .balance-block__uses{
    font-size: 50px;
    margin-left: 70%;
    margin-top: -11.5%;
    font-weight: 500;
  }

  .balance-block__variants{
    border: 1px solid #000;
    border-radius: 97px;
    width: 700px;
    height: 70px;
    margin-left: 12%;
    margin-top: 20%;
  }

  .variant{
    cursor: pointer;
    background-color: #fff;
    border: none;
    height: 50px;
    width: 90px;
    transition: all 0.6s;
    &:nth-child(1){
        width: 100px;
        margin-left: 33%;
    }
    margin-left: 5%;
    margin-top: 1%;
  }
  .variant:hover{
    transform: scale(0.8);
  }
  .variant__img{
    width: 100%;
    height: 100%;
  }
  
  .packages-light__package{
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.48);
    border-radius: 52px;
    width: 290px;
    height: 490px;
  }
  .packages__title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 10%
  }
  .packages__title::before{
    content: '|';
    font-size: 20px;
    margin-right: 10px;
    width: 10px;
    height: 1px;
    color: var(--main-red-col);
  }

  .package__title{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 15%;
    margin-left: 10%;
  }

  .package__usages{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10%;
    margin-top: -5%;
  }

  .package__price{
    position: relative;
    margin-top: 30%;
    font-size: 20px;
    margin-left: 10%;
    text-transform: uppercase;
    span{
      font-size: 30px;
    }
  }
  .package__price::after{
    position: absolute;
    top: 20px;
    left: -5px;
    display: block;
    content: '';
    width: 110px;
    height: 2px;
    background-color: var(--main-red-col);
  }

.package__newprice{
  margin-top: 0;
  font-size: 25px;
  margin-left: 10%;
  text-transform: uppercase;
  span{
    font-size: 35px;
  }
}
  .package__button{
    position: absolute;
    top: 410px;
    left:-2px;
    background-color: #fff;
    border: 3px solid rgba(0, 0, 0, 0.43);
    border-radius:35px;
    width: 295px;
    height: 89px;
    font-size: 17px;  
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.6s;
    span{
      transition: all 0.6s;
      color: var(--main-red-col);
    }
  }

  .package__button:hover{
    color: var(--main-red-col);
    span{
      color: #000;
    }
  }

  .packages__wrapper{
    flex-wrap: wrap;
    display: flex;
    margin-top: 3%;
    margin-left: 16%;
    gap: 50px;
  }

  #business{
    width: 980px;
  }

  .package__title-business{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 35px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .package__usages-business{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 5.5%;
    margin-top: -2%;
  }

  .package__price-business{
    position: relative;
    margin-top: 5%;
    font-size: 25px;
    margin-left: 5.5%;
    text-transform: uppercase;
    span{
      font-size: 35px;
    }
  }

  .package__price-business::after{
    position: absolute;
    top: 20px;
    left: -5px;
    display: block;
    content: '';
    width: 145px;
    height: 2px;
    background-color: var(--main-red-col);
  }

  .package__newprice-business{
    margin-top: 0;
    font-size: 25px;
    margin-left: 5.5%;
    text-transform: uppercase;
    span{
      font-size: 35px;
    }
  }

  #month{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
  }

  .package__button-bussines{
    border: 3px solid rgba(0, 0, 0, 0.43);
    border-radius: 28px;
    width: 450px;
    height: 90px;
    margin-left: 26%;
    margin-top: 5%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fff;
    transition: all 0.6s;
    cursor: pointer;
    span{
      transition: all 0.6s;
      color: var(--main-red-col);
    }
  }

  .package__button-bussines:hover{
    color: var(--main-red-col);
    span{
      color: #000;
    }
  }

  

  .footer__logo{
    font-weight: 600;
    font-size: 20px;
  }
  
  .footer__terms{
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }
  
  .footer__purpose{
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;  
  }
  
  .footer__button{
    border: 1px solid #000;
    border-radius: 11px;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
    
    width: 232px;
    height: 31px;
    margin-top: 15px;
    margin-right: 30px;
  }

  .footer__purpose{
    margin-top: 20px;
    text-decoration: none;
    color: black;
  }

  @media (min-width: 1920px) and (max-width: 1920px) and (min-height: 1080px) and (max-height: 1080px) {
    .balance{
      margin-left: 9%;
    }
    .packages{
      margin-left: 9%;
    }
    .packages__title{
      margin-left: -12%;
    }
  }
  @media (min-width: 1280px) and (max-width: 1280px) and (min-height: 720px) and (max-height: 720px) {
    .balance{
      margin-left: -5%;
    }
    .packages{
      margin-left: -5%;
    }
    .packages__title{
      margin-left: 5%;
    }
  }
  @media (min-width: 2560px) and (max-width: 2560px) and (min-height: 1440px) and (max-height: 1440px) {
    .packages__wrapper{
      width: 70%;
    }

    .packages{
      margin-left: 15%;
    }
    .packages__title{
      margin-top: 10%;
      margin-left: -23%;
    }
  }