.logo {
  a {
    color: #fff;
    text-decoration: none;
  }
}
.title__purchase {
  font-size: 70px;
  text-transform: uppercase;
  margin-left: 18%;
  transition: all 0.6s;
}
.title__purchase.active {
  span {
    transition: all 0.6s;
    color: var(--main-red-col);
  }
}

.balance__block {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 72px;
  width: 900px;
  height: 250px;
}

.balance-block__money {
  margin-top: 7%;
  font-size: 50px;
  margin-left: 10%;
  font-weight: 500;
}

.balance-block__uses {
  font-size: 50px;
  margin-left: 70%;
  margin-top: -11.5%;
  font-weight: 500;
}

.balance-block__variants {
  border: 1px solid #000;
  border-radius: 97px;
  width: 700px;
  height: 70px;
  margin-left: 12%;
  margin-top: 20%;
}

.variant {
  cursor: pointer;
  background-color: #fff;
  border: none;
  height: 50px;
  width: 90px;
  transition: all 0.6s;
  &:nth-child(1) {
    width: 100px;
    margin-left: 33%;
  }
  margin-left: 5%;
  margin-top: 1%;
}
.variant:hover {
  transform: scale(0.8);
}
.variant__img {
  width: 100%;
  height: 100%;
}

.packages{
  z-index: 0;
}

.packages-light__package {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.48);
  border-radius: 52px;
  width: 290px;
  height: 490px;
}
.packages__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 10%;
}
.packages__title::before {
  content: "|";
  font-size: 20px;
  margin-right: 10px;
  width: 10px;
  height: 1px;
  color: var(--main-red-col);
}

.package__title {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 30px;
  margin-top: 15%;
  margin-left: 10%;
}

.package__usages {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 10%;
  margin-top: -5%;
}

.package__price {
  position: relative;
  margin-top: 30%;
  font-size: 20px;
  margin-left: 10%;
  text-transform: uppercase;
  span {
    font-size: 30px;
  }
}
.package__price::after {
  position: absolute;
  top: 15px;
  left: -5px;
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--main-red-col);
}

.package__newprice {
  margin-top: 0;
  font-size: 25px;
  margin-left: 10%;
  text-transform: uppercase;
  span {
    font-size: 35px;
  }
}
.package__button {
  transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
  position: absolute;
  top: 410px;
  left: -2px;
  background-color: #fff;
  border: 3px solid rgba(0, 0, 0, 0.43);
  border-radius: 35px;
  width: 295px;
  height: 89px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.package__button span {
  transition: color 0.6s ease;
  color: var(--main-red-col);
}

.package__button:hover span {
  color: #000;  /* Цвет текста внутри span при наведении */
}


.packages__wrapper {
  flex-wrap: wrap;
  display: flex;
  margin-top: 3%;
  gap: 50px;
  margin: 0 auto;
  width: 68.5%;
}

#business {
  width: 980px;
}

.package__title-business {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 35px;
  margin-top: 5%;
  margin-left: 5%;
}

.package__usages-business {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 5.5%;
  margin-top: -2%;
}

.package__price-business {
  position: relative;
  margin-top: 5%;
  font-size: 25px;
  margin-left: 5.5%;
  text-transform: uppercase;
  span {
    font-size: 35px;
  }
}

.package__price-business::after {
  position: absolute;
  top: 20px;
  left: -5px;
  display: block;
  content: "";
  width: 145px;
  height: 2px;
  background-color: var(--main-red-col);
}

.package__newprice-business {
  margin-top: 0;
  font-size: 25px;
  margin-left: 5.5%;
  text-transform: uppercase;
  span {
    font-size: 35px;
  }
}

#month {
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
}

.package__button-bussines {
  border: 3px solid rgba(0, 0, 0, 0.43);
  border-radius: 28px;
  width: 450px;
  height: 90px;
  margin-left: 26%;
  margin-top: 5%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff;
  transition: all 0.6s;
  cursor: pointer;
  span {
    transition: all 0.6s;
    color: var(--main-red-col);
  }
}

.package__button-bussines:hover {
  transition: all 0.6s ease;
  color: var(--main-red-col);
  span {
    color: #000;
  }
}



@media (min-width: 1920px) and (min-height: 1050px)
 {
  .balance {
    margin-left: 9%;
  }
  .packages {
    margin-left: 9%;
  }
  .packages__title {
    margin-left: -12%;
  }
  .title__purchase{
    width: 1000px;
  }
  .balance__block{
    margin-left: 17%;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) and (min-height: 720px)
 {
  .balance {
    margin-left: -5%;
  }
  .packages {
    margin-left: -5%;
  }
  .packages__title {
    margin-left: 5%;
  }
}
@media (min-width: 2560px) and (max-height: 1480px)
 {  
  .packages__wrapper {
    width: 62%;
  }
  .packages {
    margin-left: 15%;
  }
  .packages__title {
    margin-top: 10%;
    margin-left: -17%;
  }
  .packages__title {
    font-size: 30px;
  }
  .packages__title::before {
    font-size: 30px;
  }
  .package__title {
    font-size: 40px;
  }
  .package__usages {
    font-size: 27px;
  }
  .package__price {
    font-size: 30px;
  }
  .package__price::after {
    position: absolute;
    top: 15px;
    left: 0px;
    display: block;
    width: 90px;
    height: 2px;
  }
  .package__newprice {
    font-size: 35px;
  }
  .package__title-business {
    font-size: 45px;
  }

  .package__usages-business {
    font-size: 30px;
  }

  .package__price-business {
    font-size: 35px;
  }

  .package__price-business::after {
    width: 140px;
    height: 3px;
  }

  .package__newprice-business {
    font-size: 40px;
    span {
      font-size: 40px;
    }
  }
  .package__button-bussines {
    width: 450px;
    height: 90px;
    margin-left: 27%;
    margin-top: -5%;
    font-size: 25px;
  }
  .package__button {
    font-size: 23px;
  }
  .title__purchase{
    margin-left: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1024px)
 {
  /* .packages__wrapper{
    margin-left: 8.5%;
  } */
  #business{
    width: 90%;
    height: 90%;
  }
  .package__button-bussines{
    margin-left: 15%;
    margin-bottom: 5%;
  }
  /* .balance__block{
    margin-left: 8%;
    width: 85%;
  } */
  .balance-block__money{
    margin-top: 10%;
  }
  .balance-block__uses{
    margin-left: 10%;
    margin-top: -5%;
    margin-bottom: 0;
  }
  .title__purchase{
    margin-left: 10%;
  }
}
@media (max-width: 430px) and (max-height: 920px) {
  .title__purchase{
    font-size: 30px;
    margin-left: 0;
  }
  .balance__block{
    width: auto;
    height: 150px;
    border-radius: 40px;
  }
  .balance-block__money{
    font-size: 30px;
  }
  .balance-block__uses{
    font-size: 30px;
    margin-left: 10%;
    margin-top: -3%;
  }
  #business{
    max-width: 294px;
  }
  .package__title-business{
    margin-top: 43px;
  }
  .package__button-bussines {
    width: 295px;
    height: 90px;
    margin-left: 0;
    margin-top: 32%;
  }
}
/* @media (max-width: 375px){
.packages__wrapper{
  margin-left: 11%;
}
} */
