
.feedback{
  margin-top: 20vw;
  margin-left: 75%;
}


.feedback__button {
  transition: all 0.6s ease;
  margin-top: 5%;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: white;
  img {
    height: 50%;
    width: 50%;
  }
  cursor: pointer;
}
.feedback__button:hover{
  transform: scale(0.95);
}

@media (min-width: 1920px) and (min-height: 1050px){
  .feedback{
    margin-left: 72%;
    margin-top: 5vw;
  }
}

@media (min-width: 2560px) and (max-height: 1480px){
  .feedback{
    margin-top: 5vw;
    margin-left: 82%;
  }
}

@media(min-width: 768px) and (max-width: 1024px){
  .feedback{
    margin-left: 82%;
    margin-top: 10vw;
  }
}

